interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/playlists/944dd087-f65c-4954-a9a3-042a574e86e3?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: '{"uuid":"944dd087-f65c-4954-a9a3-042a574e86e3","title":"lofi","numberOfTracks":5288,"numberOfVideos":0,"creator":{"id":169584258},"description":"","duration":693350,"lastUpdated":"2020-05-14T20:28:18.226+0000","created":"2020-04-15T15:15:37.282+0000","type":"USER","publicPlaylist":false,"url":"http://www.tidal.com/playlist/944dd087-f65c-4954-a9a3-042a574e86e3","image":"caf9e852-03b4-412c-b17c-16bb5ca18bf5","popularity":0,"squareImage":"f08419c7-a19e-4550-a557-179e19936e06","promotedArtists":[],"lastItemAddedAt":"2020-05-14T01:31:24.431+0000"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      ETag:
      - '"1589488098226"'
    status:
      code: 200
      message: OK
version: 1
