interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/users/184964830/favorites/artists?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&offset=0
  response:
    body:
      string: "{\"limit\":1000,\"offset\":0,\"totalNumberOfItems\":4,\"items\":[{\"created\":\"2023-07-07T20:47:22.234+0000\",\"item\":{\"id\":5247488,\"name\":\"AronChupa\",\"artistTypes\":[\"ARTIST\",\"CONTRIBUTOR\"],\"url\":\"http://www.tidal.com/artist/5247488\",\"picture\":\"1e522f1d-843b-42f7-8e6f-2d2de1774ac8\",\"popularity\":42,\"artistRoles\":[{\"categoryId\":-1,\"category\":\"Artist\"},{\"categoryId\":1,\"category\":\"Producer\"},{\"categoryId\":3,\"category\":\"Engineer\"},{\"categoryId\":2,\"category\":\"Songwriter\"},{\"categoryId\":10,\"category\":\"Production
        team\"}],\"mixes\":{\"MASTER_ARTIST_MIX\":\"015606df080f0318843595a81371b6\",\"ARTIST_MIX\":\"00048cc91f01fb8f286c1c82738f1a\"}}},{\"created\":\"2022-01-24T14:12:15.199+0000\",\"item\":{\"id\":8385,\"name\":\"Charles
        Trenet\",\"artistTypes\":[\"ARTIST\",\"CONTRIBUTOR\"],\"url\":\"http://www.tidal.com/artist/8385\",\"picture\":\"e22e8803-4481-4a61-9128-6f03110974ae\",\"popularity\":27,\"artistRoles\":[{\"categoryId\":-1,\"category\":\"Artist\"},{\"categoryId\":2,\"category\":\"Songwriter\"},{\"categoryId\":11,\"category\":\"Performer\"},{\"categoryId\":10,\"category\":\"Producti[...]
