interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/users/184964830/favorites/playlists?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&offset=0
  response:
    body:
      string: "{\"limit\":1000,\"offset\":0,\"totalNumberOfItems\":49,\"items\":[{\"created\":\"2023-05-15T11:29:25.800+0000\",\"item\":{\"uuid\":\"e05c86b3-d485-4f62-afb0-4fb0e995fae1\",\"title\":\"1980s\",\"numberOfTracks\":12,\"numberOfVideos\":0,\"creator\":{\"id\":184964830},\"description\":\"\",\"duration\":3199,\"lastUpdated\":\"2023-05-15T11:33:44.202+0000\",\"created\":\"2023-05-15T11:29:25.345+0000\",\"type\":\"USER\",\"publicPlaylist\":false,\"url\":\"http://www.tidal.com/playlist/e05c86b3-d485-4f62-afb0-4fb0e995fae1\",\"image\":\"3446d022-3b68-4ba4-9bb5-5c513adfc580\",\"popularity\":0,\"squareImage\":\"3272efd2-8551-44b5-89fc-7c44a6f164a6\",\"promotedArtists\":[],\"lastItemAddedAt\":\"2023-05-15T11:33:44.202+0000\"}},{\"created\":\"2023-05-15T11:29:13.889+0000\",\"item\":{\"uuid\":\"cd2fb4d9-0cd9-474c-9c75-6feab9f4eeef\",\"title\":\"1990s\",\"numberOfTracks\":3,\"numberOfVideos\":0,\"creator\":{\"id\":184964830},\"description\":\"\",\"duration\":878,\"lastUpdated\":\"2023-05-15T11:32:14.038+0000\",\"created\":\"2023-05-15T11:29:12.599+0000\",\"type\":\"USER\",\"publicPlaylist\":false,\"url\":\"http://www.tidal.com/playlist/cd2fb4d9-0cd9-474c-9c75-6feab9f4eeef\",\"image\":\"[...]
