interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/users/184964830?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: '{"id":184964830,"username":"2e0byo@gmail.com","profileName":"2e0byo","firstName":null,"lastName":null,"email":"2e0byo@gmail.com","emailVerified":true,"countryCode":"GB","created":"2022-01-24T14:10:04.421+0000","newsletter":false,"acceptedEULA":true,"dateOfBirth":"1995-10-17","facebookUid":0,"appleUid":null,"partner":1,"tidalId":null,"earlyAccessProgram":false}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      ETag:
      - '"-1143518346"'
      X-WIMP-JSON-RESPONSE-VIEW:
      - com.wimpmusic.api.util.WimpApiViews$UserMe
    status:
      code: 200
      message: OK
version: 1
