interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/users/184964830/favorites/albums?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&offset=0
  response:
    body:
      string: "{\"limit\":1000,\"offset\":0,\"totalNumberOfItems\":8,\"items\":[{\"created\":\"2022-06-30T16:37:55.454+0000\",\"item\":{\"id\":20987655,\"title\":\"Best
        of Gianni Morandi\",\"duration\":7558,\"streamReady\":true,\"adSupportedStreamReady\":true,\"streamStartDate\":\"2013-07-15T00:00:00.000+0000\",\"allowStreaming\":true,\"premiumStreamingOnly\":false,\"numberOfTracks\":38,\"numberOfVideos\":0,\"numberOfVolumes\":3,\"releaseDate\":\"2013-07-15\",\"copyright\":\"This
        Product (P) 2013 Sony Music Entertainment Italy S.p.A.\",\"type\":\"ALBUM\",\"version\":null,\"url\":\"http://www.tidal.com/album/20987655\",\"cover\":\"3c8a017b-8409-4a53-b29a-35c80444b440\",\"vibrantColor\":\"#FFFFFF\",\"videoCover\":null,\"explicit\":false,\"upc\":\"886444063630\",\"popularity\":7,\"audioQuality\":\"HI_RES\",\"audioModes\":[\"STEREO\"],\"mediaMetadata\":{\"tags\":[\"LOSSLESS\",\"MQA\"]},\"artist\":{\"id\":1662,\"name\":\"Gianni
        Morandi\",\"type\":\"MAIN\",\"picture\":\"7c8e8fc3-5397-4231-ba44-632c21687aac\"},\"artists\":[{\"id\":1662,\"name\":\"Gianni
        Morandi\",\"type\":\"MAIN\",\"picture\":\"7c8e8fc3-5397-4231-ba44-632c21687aac\"}]}},{\"created\":\"2023-07-07T20:47:22.803+0000\",\"item\":{\"id\":32961852,\"title\":\"I'm
        an Albatraoz\",\"duration\":167,\"streamReady\":true,\"adSupportedStreamReady\":true,\"streamStartDate\":\"2015-04-26T00:00:00.000+0000\",\"allowStreaming\":true,\"premiumStreamingOnly\":false,\"numberOfTracks\":1,\"numberOfVideos\":0,\"numberOfVolumes\":1,\"releaseDate\":\"2014[...]
