interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/users/184964830/favorites/tracks?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&offset=0
  response:
    body:
      string: "{\"limit\":1000,\"offset\":0,\"totalNumberOfItems\":3,\"items\":[{\"created\":\"2022-01-24T23:01:55.036+0000\",\"item\":{\"id\":1476335,\"title\":\"C'est
        quand qu'on va o\xF9 ?\",\"duration\":228,\"replayGain\":-6.58,\"peak\":0.865356,\"allowStreaming\":true,\"streamReady\":true,\"adSupportedStreamReady\":true,\"streamStartDate\":\"2003-03-03T00:00:00.000+0000\",\"premiumStreamingOnly\":false,\"trackNumber\":15,\"volumeNumber\":1,\"version\":null,\"popularity\":2,\"copyright\":\"Licence
        exclusive Parlophone, Warner Music France, \u2117 1994 Couci-Cou\xE7a\",\"url\":\"http://www.tidal.com/track/1476335\",\"isrc\":\"FRZ619400030\",\"editable\":false,\"explicit\":false,\"audioQuality\":\"HI_RES\",\"audioModes\":[\"STEREO\"],\"mediaMetadata\":{\"tags\":[\"LOSSLESS\",\"MQA\"]},\"artist\":{\"id\":8876,\"name\":\"Renaud\",\"type\":\"MAIN\",\"picture\":\"3cc5cac4-ddae-4f75-a8f1-d6f83a6d37b6\"},\"artists\":[{\"id\":8876,\"name\":\"Renaud\",\"type\":\"MAIN\",\"picture\":\"3cc5cac4-ddae-4f75-a8f1-d6f83a6d37b6\"}],\"album\":{\"id\":1476320,\"title\":\"The
        Meilleur Of Renaud\",\"cover\":\"9cb145cf-363c-44d0-9ac6-133583a4cf64\",\"vibrantColor\":\"#dba8a6\",\"videoCover\":null},\"mixes\":{\"MASTER_TRACK_MIX\":\"014b300b290a62c3d4e84a127e791c\",\"TRACK_MIX\":\"00110ab8699d3df666ad560f0c2e75\"}}},{\"created\":\"2023-07-07T20:47:23.855+0000\",\"item\":{\"id\":32961853,\"title\":\"I'm
        an Albatraoz\",\"duration\":167,\"replayGain\":-9.59,\"peak\":0.997375,\"allowStreaming\":true,\"streamReady\":true,\"adSupportedStreamReady\":true,\"streamStartDate\":\"2014-10-14T00:00:00.000+0000\",\"premiumStreamingOnly\":false,\"trackNumber\":1,\"volumeNumber\":1,\"version\":null,\"popularity\":35,\"copyright\":\"(P)
        2014 Aron Ekberg under exclusive l[...]
