interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/users/184964830/playlists?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: "{\"limit\":1000,\"offset\":0,\"totalNumberOfItems\":53,\"items\":[{\"uuid\":\"e05c86b3-d485-4f62-afb0-4fb0e995fae1\",\"title\":\"1980s\",\"numberOfTracks\":12,\"numberOfVideos\":0,\"creator\":{\"id\":184964830},\"description\":\"\",\"duration\":3199,\"lastUpdated\":\"2023-05-15T11:33:44.202+0000\",\"created\":\"2023-05-15T11:29:25.345+0000\",\"type\":\"USER\",\"publicPlaylist\":false,\"url\":\"http://www.tidal.com/playlist/e05c86b3-d485-4f62-afb0-4fb0e995fae1\",\"image\":\"3446d022-3b68-4ba4-9bb5-5c513adfc580\",\"popularity\":0,\"squareImage\":\"3272efd2-8551-44b5-89fc-7c44a6f164a6\",\"promotedArtists\":[],\"lastItemAddedAt\":\"2023-05-15T11:33:44.202+0000\"},{\"uuid\":\"cd2fb4d9-0cd9-474c-9c75-6feab9f4eeef\",\"title\":\"1990s\",\"numberOfTracks\":3,\"numberOfVideos\":0,\"creator\":{\"id\":184964830},\"description\":\"\",\"duration\":878,\"lastUpdated\":\"2023-05-15T11:32:14.038+0000\",\"created\":\"2023-05-15T11:29:12.599+0000\",\"type\":\"USER\",\"publicPlaylist\":false,\"url\":\"http://www.tidal.com/playlist/cd2fb4d9-0cd9-474c-9c75-6feab9f4eeef\",\"image\":\"9936bea5-bfb6-4e92-ba57-f362864523a9\",\"popularity\":0,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/playlists/e05c86b3-d485-4f62-afb0-4fb0e995fae1?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: '{"uuid":"e05c86b3-d485-4f62-afb0-4fb0e995fae1","title":"1980s","numberOfTracks":12,"numberOfVideos":0,"creator":{"id":184964830},"description":"","duration":3199,"lastUpdated":"2023-05-15T11:33:44.202+0000","created":"2023-05-15T11:29:25.345+0000","type":"USER","publicPlaylist":false,"url":"http://www.tidal.com/playlist/e05c86b3-d485-4f62-afb0-4fb0e995fae1","image":"3446d022-3b68-4ba4-9bb5-5c513adfc580","popularity":0,"squareImage":"3272efd2-8551-44b5-89fc-7c44a6f164a6","promotedArtists":[],"lastItemAddedAt":"2023-05-15T11:33:44.202+0000"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      ETag:
      - '"1684150424202"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/users/184964830/favorites/playlists?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&offset=0
  response:
    body:
      string: "{\"limit\":1000,\"offset\":0,\"totalNumberOfItems\":49,\"items\":[{\"created\":\"2023-05-15T11:29:25.800+0000\",\"item\":{\"uuid\":\"e05c86b3-d485-4f62-afb0-4fb0e995fae1\",\"title\":\"1980s\",\"numberOfTracks\":12,\"numberOfVideos\":0,\"creator\":{\"id\":184964830},\"description\":\"\",\"duration\":3199,\"lastUpdated\":\"2023-05-15T11:33:44.202+0000\",\"created\":\"2023-05-15T11:29:25.345+0000\",\"type\":\"USER\",\"publicPlaylist\":false,\"url\":\"http://www.tidal.com/playlist/e05c86b3-d485-4f62-afb0-4fb0e995fae1\",\"image\":\"3446d022-3b68-4ba4-9bb5-5c513adfc580\",\"popularity\":0,\"squareImage\":\"3272efd2-8551-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/users/184964830/playlistsAndFavoritePlaylists?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=50&offset=0
  response:
    body:
      string: "{\"limit\":50,\"offset\":0,\"totalNumberOfItems\":54,\"items\":[{\"type\":\"USER_CREATED\",\"created\":\"2022-01-24T21:05:15.587+0000\",\"playlist\":{\"uuid\":\"a649f019-e9d8-4b0c-8fb6-f23b67fe2e02\",\"title\":\"Diner\",\"numberOfTracks\":8,\"numberOfVideos\":0,\"creator\":{\"id\":184964830},\"description\":\"\",\"duration\":1254,\"lastUpdated\":\"2022-01-24T22:08:34.435+0000\",\"created\":\"2022-01-24T21:05:15.587+0000\",\"type\":\"USER\",\"publicPlaylist\":false,\"url\":\"http://www.tidal.com/playlist/a649f019-e9d8-4b0c-8fb6-f23b67fe2e02\",\"image\":\"692b2936-31b7-4909-88b2-3af774cde886\",\"popularity\":0,\"squareImage\":\"125e0e64-e474-4[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/users/184964830/playlistsAndFavoritePlaylists?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=50&offset=100
  response:
    body:
      string: '{"limit":50,"offset":100,"totalNumberOfItems":54,"items":[]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      ETag:
      - '"1690122691649"'
    status:
      code: 200
      message: OK
version: 1
