interactions:
- request:
    body: title=Testing&description=Testing1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.tidal.com/v1/users/184964830/playlists?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: '{"uuid":"04dd39a0-903b-45db-a36b-dec41778f24f","title":"Testing","numberOfTracks":0,"numberOfVideos":0,"creator":{"id":184964830},"description":"Testing1234","duration":0,"lastUpdated":"2023-07-23T15:58:13.841+0000","created":"2023-07-23T15:58:13.841+0000","type":"USER","publicPlaylist":false,"url":"http://www.tidal.com/playlist/04dd39a0-903b-45db-a36b-dec41778f24f","image":"e59903d7-94a7-454c-8a78-6a6586967dda","popularity":0,"squareImage":"e9448a9a-3ade-4f79-93d2-12e6d8d4b2eb","promotedArtists":[],"lastItemAddedAt":null}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      ETag:
      - '"1690127893841"'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/playlists/04dd39a0-903b-45db-a36b-dec41778f24f?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: '{"uuid":"04dd39a0-903b-45db-a36b-dec41778f24f","title":"Testing","numberOfTracks":0,"numberOfVideos":0,"creator":{"id":184964830},"description":"Testing1234","duration":0,"lastUpdated":"2023-07-23T15:58:13.841+0000","created":"2023-07-23T15:58:13.841+0000","type":"USER","publicPlaylist":false,"url":"http://www.tidal.com/playlist/04dd39a0-903b-45db-a36b-dec41778f24f","image":"e59903d7-94a7-454c-8a78-6a6586967dda","popularity":0,"squareImage":"e9448a9a-3ade-4f79-93d2-12e6d8d4b2eb","promotedArtists":[],"lastItemAddedAt":null}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      ETag:
      - '"1690127893841"'
    status:
      code: 200
      message: OK
- request:
    body: onArtifactNotFound=SKIP&onDupes=SKIP&trackIds=125169484
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      If-None-Match:
      - '"1690127893841"'
    method: POST
    uri: https://api.tidal.com/v1/playlists/04dd39a0-903b-45db-a36b-dec41778f24f/items?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=100
  response:
    body:
      string: '{"lastUpdated":1690127894688,"addedItemIds":[125169484]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      ETag:
      - '"1690127894688"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/playlists/04dd39a0-903b-45db-a36b-dec41778f24f/tracks?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&offset=0
  response:
    body:
      string: '{"limit":1000,"offset":0,"totalNumberOfItems":1,"items":[{"id":125169484,"title":"Alone,
        Pt. II","duration":179,"replayGain":-10.4,"peak":0.988312,"allowStreaming":true,"streamReady":true,"adSupportedStreamReady":true,"streamStartDate":"2019-12-27T00:00:00.000+0000","premiumStreamingOnly":false,"trackNumber":1,"volumeNumber":1,"version":null,"popularity":43,"copyright":"(P)
        2019 MER under exclusive license to Sony Music Entertainment Sweden AB","description":null,"url":"http://www.tidal.com/track/125169484","isrc":"NOG841907010","editable":false,"explicit":false,"audioQuality":"HI_RES","audioModes":["STEREO"],"mediaMetadata":{"tags":["LOSSLESS","HIRES_LOSSLESS","MQA"]},"artist":{"id":6159368,"name":"Alan
        Walker","type":"MAIN","picture":"c46be937-9869-4454-8d80-ba6a6e23b6c6"},"artists":[{"id":6159368,"name":"Alan
        Walker","type":"MAIN","picture":"c46be937-9869-4454-8d80-ba6a6e23b6c6"},{"id":9282225,"name":"Ava
        Max","type":"MAIN","picture":"eca9c7b3-4ba5-4754-a7b9-b78007788603"}],"album":{"id":125169472,"title":"Alone,
        Pt. II","cover":"345d81fd-3a06-4fe4-b77a-6f6e28baad25","vibrantColor":"#dbf1e3","videoCover":null,"releaseDate":"2019-12-27"},"mixes":{"MASTER_TRACK_MIX":"014422d7187a45e27224e85711bb13","TRACK_MIX":"001603cb31f1842e052770e0ad7647"},"dateAdded":"2023-07-23T15:58:14.688+0000","index":100000,"itemUuid":"9160ce25-a2ac-467f-a889-34471055663d"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      ETag:
      - '"1690127894688"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/playlists/04dd39a0-903b-45db-a36b-dec41778f24f/items?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=100&offset=0
  response:
    body:
      string: '{"limit":100,"offset":0,"totalNumberOfItems":1,"items":[{"item":{"id":125169484,"title":"Alone,
        Pt. II","duration":179,"replayGain":-10.4,"peak":0.988312,"allowStreaming":true,"streamReady":true,"adSupportedStreamReady":true,"streamStartDate":"2019-12-27T00:00:00.000+0000","premiumStreamingOnly":false,"trackNumber":1,"volumeNumber":1,"version":null,"popularity":43,"copyright":"(P)
        2019 MER under exclusive license to Sony Music Entertainment Sweden AB","description":null,"url":"http://www.tidal.com/track/125169484","isrc":"NOG841907010","editable":false,"explicit":false,"audioQuality":"HI_RES","audioModes":["STEREO"],"mediaMetadata":{"tags":["LOSSLESS","HIRES_LOSSLESS","MQA"]},"artist":{"id":6159368,"name":"Alan
        Walker","type":"MAIN","picture":"c46be937-9869-4454-8d80-ba6a6e23b6c6"},"artists":[{"id":6159368,"name":"Alan
        Walker","type":"MAIN","picture":"c46be937-9869-4454-8d80-ba6a6e23b6c6"},{"id":9282225,"name":"Ava
        Max","type":"MAIN","picture":"eca9c7b3-4ba5-4754-a7b9-b78007788603"}],"album":{"id":125169472,"title":"Alone,
        Pt. II","cover":"345d81fd-3a06-4fe4-b77a-6f6e28baad25","vibrantColor":"#dbf1e3","videoCover":null,"releaseDate":"2019-12-27"},"mixes":{"MASTER_TRACK_MIX":"014422d7187a45e27224e85711bb13","TRACK_MIX":"001603cb31f1842e052770e0ad7647"},"dateAdded":"2023-07-23T15:58:14.688+0000","index":100000,"itemUuid":"9160ce25-a2ac-467f-a889-34471055663d"},"type":"track","cut":null}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      ETag:
      - '"1690127894688"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-None-Match:
      - '"1690127894688"'
    method: DELETE
    uri: https://api.tidal.com/v1/playlists/04dd39a0-903b-45db-a36b-dec41778f24f/items/0?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"1690127896922"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/playlists/04dd39a0-903b-45db-a36b-dec41778f24f/items?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=100&offset=0
  response:
    body:
      string: '{"limit":100,"offset":0,"totalNumberOfItems":1,"items":[{"item":{"id":64728757,"title":"Sing
        Me to Sleep","volumeNumber":0,"trackNumber":0,"releaseDate":"2016-06-03T00:00:00.000+0000","imagePath":null,"imageId":"67261cbb-675a-48c6-bf91-b0d7cf28bca3","vibrantColor":"#894a41","duration":192,"quality":"MP4_1080P","streamReady":true,"adSupportedStreamReady":true,"streamStartDate":"2016-06-03T00:00:00.000+0000","allowStreaming":true,"explicit":false,"popularity":7,"type":"Music
        Video","adsUrl":null,"adsPrePaywallOnly":false,"artist":{"id":6159368,"name":"Alan
        Walker","type":"MAIN","picture":"c46be937-9869-4454-8d80-ba6a6e23b6c6"},"artists":[{"id":6159368,"name":"Alan
        Walker","type":"MAIN","picture":"c46be937-9869-4454-8d80-ba6a6e23b6c6"}],"album":null,"dateAdded":"2023-07-23T15:58:17.742+0000","index":100000,"itemUuid":"b2ad5643-7a7a-42ac-b838-5c81aadf596b"},"type":"video","cut":null}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      ETag:
      - '"1690127899536"'
    status:
      code: 200
      message: OK
[...]
