interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/artists/19275?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: '{"id":19275,"name":"ABBA","artistTypes":["ARTIST","CONTRIBUTOR"],"url":"http://www.tidal.com/artist/19275","picture":"1bd4fc35-0a80-4ff2-831e-75ac80962900","popularity":89,"artistRoles":[{"categoryId":-1,"category":"Artist"},{"categoryId":2,"category":"Songwriter"},{"categoryId":11,"category":"Performer"}],"mixes":{"MASTER_ARTIST_MIX":"015e532c4933d77c1dd1c8d6e21bd1","ARTIST_MIX":"0004204b096b5ea4b95ee4f860f045"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/artists/19275/radio?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=100
  response:
    body:
      string: "{\"limit\":100,\"offset\":0,\"totalNumberOfItems\":100,\"items\":[{\"id\":1771748,\"title\":\"Mamma
        Mia\",\"duration\":211,\"replayGain\":-10.18,\"peak\":0.977356,\"allowStreaming\":true,\"streamReady\":true,\"adSupportedStreamReady\":true,\"streamStartDate\":\"2008-07-07T00:00:00.000+0000\",\"premiumStreamingOnly\":false,\"trackNumber\":4,\"volumeNumber\":1,\"version\":null,\"popularity\":62,\"copyright\":\"\u2117
        1975 Polar Music International AB\",\"url\":\"http://www.tidal.com/track/1771748\",\"isrc\":\"SEAYD7501010\",\"editable\":false,\"explicit\":false,\"audioQuality\":\"LOSSLESS\",\"audioModes\":[\"STEREO\"],\"mediaMetadata\":{\"tags\":[\"LOSSLESS\"]},\"artist\":{\"id\":19275,\"name\":\"ABBA\",\"type\":\"MAIN\",\"picture\":\"1bd4fc35-0a80-4ff2-831e-75ac80962900\"},\"artists\":[{\"id\":19275,\"name\":\"ABBA\",\"type\":\"MAIN\",\"picture\":\"1bd4fc35-0a80-4ff2-831e-75ac80962900\"}],\"album\":{\"id\":1771744,\"title\":\"ABBA
        Gold\",\"cover\":\"40249bee-ee06-4c95-9dd0-a91249e7daba\",\"vibrantColor\":\"#ef3b4d\",\"videoCover\":null},\"mixes\":{\"TRACK_MIX\":\"0015e6e2bed81eba85d73a07bf1e24\"}},{\"id\":1277159,\"title\":\"Daddy
        Cool\",\"duration\":209,\"replayGain\":-9.14,\"peak\":0.997284,\"allowStreaming\":true,\"streamReady\":true,\"adSupportedStreamReady\":true,\"streamStartDate\":\"2014-04-09T00:00:00.000+0000\",\"premiumStreamingOnly\":false,\"trackNumber\":1,\"volumeNumber\":1,\"version\":null,\"popularity\":46,\"copyright\":\"(P)
        1976 Sony Music Entertainment Germany GmbH\",\"url\":\"http://www.tidal.com/track/1277159\",\"isrc\":\"DEC737600002\",\"editable\":false,\"explicit\":false,\"audioQuality\":\"HI_RES\",\"audioModes\":[\"STEREO\"],\"mediaMetadata\":{\"tags\":[\"LOSSLESS\",\"MQA\"]},\"artist\":{\"id\":2163,\"name\":\"Boney
        M.\",\"type\":\"MAIN\",\"picture\":\"19fca6b1-e17f-4203-ab62-9445604dfd94\"},\"artists\":[{\"id\":2163,\"name\":\"Boney
        M.\",\"type\":\"MAIN\",\"picture\":\"19fca6b1-e17f-4203-ab62-9445604dfd94\"}],\"album\":{\"id\":1277158,\"title\":\"Take
        The Heat Off Me\",\"cover\":\"ec00afd8-87d0-4fba-8177-86fee9e25396\",\"vibrantColor\":\"#c5a979\",\"videoCover\":null},\"mixes\":{\"MASTER_TRACK_MIX\":\"01482cbfc20e9d925a3b10b1a62a29\",\"TRACK_MIX\":\"0018635a97011330ab06107190e79c\"}},{\"id\":31895290,\"title\":\"YMCA\",\"duration\":203,\"replayGain\":-7.75,\"peak\":0.983703,\"allowStreaming\":true,\"streamReady\":true,\"adSupportedStreamReady\":true,\"streamStartDate\":\"2014-05-09T00:00:00.000+0000\",\"premiumStreamingOnly\":false,\"trackNumber\":8,\"volumeNumber\":1,\"version\":null,\"popularity\":13,\"copyright\":\"Can't
        Stop Productions NYC 1980\",\"url\":\"http://www.tidal.com/[...]
