interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/artists/4822757?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: '{"id":4822757,"name":"Syn Cole","artistTypes":["ARTIST","CONTRIBUTOR"],"url":"http://www.tidal.com/artist/4822757","picture":"31e0effb-3636-40cb-bdbe-4c2def1bf6f0","popularity":33,"artistRoles":[{"categoryId":-1,"category":"Artist"},{"categoryId":3,"category":"Engineer"},{"categoryId":10,"category":"Production
        team"},{"categoryId":1,"category":"Producer"},{"categoryId":2,"category":"Songwriter"},{"categoryId":11,"category":"Performer"}],"mixes":{"MASTER_ARTIST_MIX":"0151865d65acad7501b303aceb4aa0","ARTIST_MIX":"0005d1f1cac36eb244205189aa2bf7"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/videos/131869431?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: '{"id":131869431,"title":"Mind Blown","volumeNumber":0,"trackNumber":0,"releaseDate":"2020-02-25T00:00:00.000+0000","imagePath":null,"imageId":"9ea24d4d-d4da-4167-9cbe-8d2b111ce076","vibrantColor":"#60bacd","duration":163,"quality":"MP4_1080P","streamReady":true,"adSupportedStreamReady":true,"streamStartDate":"2020-02-25T18:00:00.000+0000","allowStreaming":true,"explicit":true,"popularity":1,"type":"Music
        Video","adsUrl":null,"adsPrePaywallOnly":true,"artist":{"id":4822757,"name":"Syn
        Cole","type":"MAIN","picture":"31e0effb-3636-40cb-bdbe-4c2def1bf6f0"},"artists":[{"id":4822757,"name":"Syn
        Cole","type":"MAIN","picture":"31e0effb-3636-40cb-bdbe-4c2def1bf6f0"}],"album":null}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/artists/4822757/videos?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&offset=0
  response:
    body:
      string: '{"limit":1000,"offset":0,"totalNumberOfItems":7,"items":[{"id":237831983,"title":"Side
        By Side","volumeNumber":0,"trackNumber":0,"releaseDate":"2022-07-01T00:00:00.000+0000","imagePath":null,"imageId":"0e1702f0-41a9-441e-92c4-bd25fdcc781f","vibrantColor":"#ec5813","duration":159,"quality":"MP4_1080P","streamReady":true,"adSupportedStreamReady":true,"streamStartDate":"2022-07-12T00:00:00.000+0000","allowStreaming":true,"explicit":false,"popularity":0,"type":"Music
        Video","adsUrl":null,"adsPrePaywallOnly":true,"artist":{"id":4822757,"na[...]
