interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/artists/16147?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: '{"id":16147,"name":"Lasgo","artistTypes":["ARTIST","CONTRIBUTOR"],"url":"http://www.tidal.com/artist/16147","picture":"42b39a18-be34-4729-8dbc-acabc0e2f377","popularity":32,"artistRoles":[{"categoryId":-1,"category":"Artist"},{"categoryId":11,"category":"Performer"},{"categoryId":10,"category":"Production
        team"},{"categoryId":2,"category":"Songwriter"}],"mixes":{"ARTIST_MIX":"000cb7886dd3be488a8fe3a204ffa5"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/albums/20903364?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: '{"id":20903364,"title":"Feeling Alive","duration":533,"streamReady":true,"adSupportedStreamReady":true,"streamStartDate":"2013-07-02T00:00:00.000+0000","allowStreaming":true,"premiumStreamingOnly":false,"numberOfTracks":2,"numberOfVideos":0,"numberOfVolumes":1,"releaseDate":"2013-07-02","copyright":"Sinuz
        Recordings (a division of HITT bv)","type":"SINGLE","version":null,"url":"http://www.tidal.com/album/20903364","cover":"68922dfd-afae-433a-be9f-ce84a9e6f6ed","vibrantColor":"#78acd7","videoCover":null,"explicit":false,"upc":"3610153117912","popularity":0,"audioQuality":"LOSSLESS","audioModes":["STEREO"],"mediaMetadata":{"tags":["LOSSLESS"]},"artist":{"id":16147,"name":"Lasgo","type":"MAIN","picture":"42b39a18-be34-4729-8dbc-acabc0e2f377"},"artists":[{"id":16147,"name":"Lasgo","type":"MAIN","picture":"42b39a18-be34-4729-8dbc-acabc0e2f377"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      ETag:
      - '"1515360384"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/artists/16147/albums?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&filter=EPSANDSINGLES&offset=0
  response:
    body:
      string: '{"limit":1000,"offset":0,"totalNumberOfItems":15,"items":[{"id":20903364,"title":"Feeling
        Alive","duration":533,"streamReady":true,"adSupportedStreamReady":true,"streamStartDate":"2013-07-02T00:00:00.000+0000","allowStreaming":true,"premiumStreamingOnly":false,"numberOfTracks":2,"numberOfVideos":0,"numberOfVolumes":1,"releaseDate":"2013-07-02","copyright":"Sinuz
        Recordings (a division of HITT bv)","type":"SINGLE","version":null,"url":"http://www.tidal.com/album/20903364","cover":"68922dfd-afae-433a-be9f-ce84a9e6f6ed","vibrantColor":"#7[...]
