interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/artists/16147?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: '{"id":16147,"name":"Lasgo","artistTypes":["ARTIST","CONTRIBUTOR"],"url":"http://www.tidal.com/artist/16147","picture":"42b39a18-be34-4729-8dbc-acabc0e2f377","popularity":32,"artistRoles":[{"categoryId":-1,"category":"Artist"},{"categoryId":11,"category":"Performer"},{"categoryId":10,"category":"Production
        team"},{"categoryId":2,"category":"Songwriter"}],"mixes":{"ARTIST_MIX":"000cb7886dd3be488a8fe3a204ffa5"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/albums/108748620?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: "{\"id\":108748620,\"title\":\"100% Clubland Classix\",\"duration\":16864,\"streamReady\":true,\"adSupportedStreamReady\":true,\"streamStartDate\":\"2019-05-10T00:00:00.000+0000\",\"allowStreaming\":true,\"premiumStreamingOnly\":false,\"numberOfTracks\":80,\"numberOfVideos\":0,\"numberOfVolumes\":4,\"releaseDate\":\"2019-05-10\",\"copyright\":\"\xA9
        2019 Universal Music Operations Limited\",\"type\":\"ALBUM\",\"version\":null,\"url\":\"http://www.tidal.com/album/108748620\",\"cover\":\"97b5122a-c075-4721-99d9-eb715c4ead25\",\"vibrantColor\":\"#f7a94a\",\"videoCover\":null,\"explicit\":true,\"upc\":\"00600753871560\",\"popularity\":25,\"audioQuality\":\"LOSSLESS\",\"audioModes\":[\"STEREO\"],\"mediaMetadata\":{\"tags\":[\"LOSSLESS\"]},\"artist\":{\"id\":2935,\"name\":\"Various
        Artists\",\"type\":\"MAIN\",\"picture\":null},\"artists\":[{\"id\":2935,\"name\":\"Various
        Artists\",\"type\":\"MAIN\",\"picture\":null}]}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      ETag:
      - '"1966003315"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/artists/16147/albums?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&filter=COMPILATIONS&offset=0
  response:
    body:
      string: "{\"limit\":1000,\"offset\":0,\"totalNumberOfItems\":12,\"items\":[{\"id\":108748620,\"title\":\"100%
        Clubland Classix\",\"duration\":16864,\"streamReady\":true,\"adSupportedStreamReady\":true,\"streamStartDate\":\"2019-05-10T00:00:00.000+0000\",\"allowStreaming\":true,\"premiumStreamingOnly\":false,\"numberOfTracks\":80,\"numberOfVideos\":0,\"numberOfVolumes\":4,\"releaseDate\":\"2019-05-10\",\"copyright\":\"\xA9
        2019 Universal Music Operations Limited\",\"type\":\"ALBUM\",\"version\":null,\"url\":\"http://www.tidal.com/album/108748620\",\"cov[...]
