interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/artists/16147?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: '{"id":16147,"name":"Lasgo","artistTypes":["ARTIST","CONTRIBUTOR"],"url":"http://www.tidal.com/artist/16147","picture":"42b39a18-be34-4729-8dbc-acabc0e2f377","popularity":32,"artistRoles":[{"categoryId":-1,"category":"Artist"},{"categoryId":11,"category":"Performer"},{"categoryId":10,"category":"Production
        team"},{"categoryId":2,"category":"Songwriter"}],"mixes":{"ARTIST_MIX":"000cb7886dd3be488a8fe3a204ffa5"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/tracks/17927865?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: '{"id":17927865,"title":"Something","duration":221,"replayGain":-10.32,"peak":0.999969,"allowStreaming":true,"streamReady":true,"adSupportedStreamReady":true,"streamStartDate":"2012-10-01T00:00:00.000+0000","premiumStreamingOnly":false,"trackNumber":2,"volumeNumber":1,"version":null,"popularity":27,"copyright":"Sinuz
        Recordings (a division of HITT bv)","url":"http://www.tidal.com/track/17927865","isrc":"BEZ460100055","editable":false,"explicit":false,"audioQuality":"LOSSLESS","audioModes":["STEREO"],"mediaMetadata":{"tags":["LOSSLESS"]},"artist":{"id":16147,"name":"Lasgo","type":"MAIN","picture":"42b39a18-be34-4729-8dbc-acabc0e2f377"},"artists":[{"id":16147,"name":"Lasgo","type":"MAIN","picture":"42b39a18-be34-4729-8dbc-acabc0e2f377"}],"album":{"id":17927863,"title":"Some
        Things (Deluxe)","cover":"30d83a8c-1db6-439d-84b4-dbfb6f03c44c","vibrantColor":"#FFFFFF","videoCover":null},"mixes":{"TRACK_MIX":"0017a431c5210db5523ea75a5e69f1"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/artists/16147/toptracks?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&offset=0
  response:
    body:
      string: "{\"limit\":1000,\"offset\":0,\"totalNumberOfItems\":124,\"items\":[{\"id\":17927865,\"title\":\"Something\",\"duration\":221,\"replayGain\":-10.32,\"peak\":0.999969,\"allowStreaming\":true,\"streamReady\":true,\"adSupportedStreamReady\":true,\"streamStartDate\":\"2012-10-01T00:00:00.000+0000\",\"premiumStreamingOnly\":false,\"trackNumber\":2,\"volumeNumber\":1,\"version\":null,\"popularity\":27,\"copyright\":\"Sinuz
        Recordings (a division of HITT bv)\",\"url\":\"http://www.tidal.com/track/17927865\",\"isrc\":\"BEZ460100055\",\"editable\":false,\"explic[...]
