interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/artists/9341252?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: '{"id":9341252,"name":"FiNCH","artistTypes":["ARTIST","CONTRIBUTOR"],"url":"http://www.tidal.com/artist/9341252","picture":"99bb2b18-81fc-49f0-bf2a-439b6809ae23","popularity":30,"artistRoles":[{"categoryId":-1,"category":"Artist"},{"categoryId":11,"category":"Performer"},{"categoryId":2,"category":"Songwriter"}],"mixes":{"MASTER_ARTIST_MIX":"0151748a31320b45797fd3817d9926","ARTIST_MIX":"00073b2dfa3346f5656917a6d06448"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/videos/298985403?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: "{\"id\":298985403,\"title\":\"LiEBE AUF DER R\xDCCKBANK\",\"volumeNumber\":0,\"trackNumber\":0,\"releaseDate\":\"2023-06-02T00:00:00.000+0000\",\"imagePath\":null,\"imageId\":\"275a8a2a-711c-4a9b-9a5d-5e5ca7a1dc53\",\"vibrantColor\":\"#ee5581\",\"duration\":189,\"quality\":\"MP4_1080P\",\"streamReady\":true,\"adSupportedStreamReady\":true,\"streamStartDate\":\"2023-06-08T00:00:00.000+0000\",\"allowStreaming\":true,\"explicit\":false,\"popularity\":2,\"type\":\"Music
        Video\",\"adsUrl\":null,\"adsPrePaywallOnly\":true,\"artist\":{\"id\":9341252,\"name\":\"FiNCH\",\"type\":\"MAIN\",\"picture\":\"99bb2b18-81fc-49f0-bf2a-439b6809ae23\"},\"artists\":[{\"id\":9341252,\"name\":\"FiNCH\",\"type\":\"MAIN\",\"picture\":\"99bb2b18-81fc-49f0-bf2a-439b6809ae23\"},{\"id\":9143824,\"name\":\"Tream\",\"type\":\"MAIN\",\"picture\":\"62757e45-1d0a-4284-a508-a82558214cec\"}],\"album\":null}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/artists/9341252/videos?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&offset=0
  response:
    body:
      string: "{\"limit\":1000,\"offset\":0,\"totalNumberOfItems\":17,\"items\":[{\"id\":304856053,\"title\":\"VAMOS
        (Lyric Video)\",\"volumeNumber\":0,\"trackNumber\":0,\"releaseDate\":\"2023-07-07T00:00:00.000+0000\",\"imagePath\":null,\"imageId\":\"1f02560a-0d73-4c8c-a237-d9d703bec4f6\",\"vibrantColor\":\"#98e8dd\",\"duration\":150,\"quality\":\"MP4_1080P\",\"streamReady\":true,\"adSupportedStreamReady\":true,\"streamStartDate\":\"2023-07-15T00:00:00.000+0000\",\"allowStreaming\":true,\"explicit\":false,\"popularity\":0,\"type\":\"Music
        Video\",\"adsUrl\"[...]
