interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/artists/4822757?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: '{"id":4822757,"name":"Syn Cole","artistTypes":["ARTIST","CONTRIBUTOR"],"url":"http://www.tidal.com/artist/4822757","picture":"31e0effb-3636-40cb-bdbe-4c2def1bf6f0","popularity":33,"artistRoles":[{"categoryId":-1,"category":"Artist"},{"categoryId":3,"category":"Engineer"},{"categoryId":10,"category":"Production
        team"},{"categoryId":1,"category":"Producer"},{"categoryId":2,"category":"Songwriter"},{"categoryId":11,"category":"Performer"}],"mixes":{"MASTER_ARTIST_MIX":"0151865d65acad7501b303aceb4aa0","ARTIST_MIX":"0005d1f1cac36eb244205189aa2bf7"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/artists/4822757/bio?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: "{\"source\":\"TiVo\",\"lastUpdated\":\"2023-05-04T05:19:54.917+0000\",\"text\":\"Estonia's
        [wimpLink artistId=\\\"4822757\\\"]Syn Cole[/wimpLink] is a gifted EDM DJ/producer
        with a bent toward progressive, electro-influenced sounds. Born Rene Pais
        in P\xE4rnu, Estonia in 1988, [wimpLink artistId=\\\"4822757\\\"]Cole[/wimpLink]
        studied classical piano while growing up and first became interested in dance
        music after discovering the synthesizer in his teens. He began producing his
        own music around 2004 and eventually caught the[...]
