interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/genres?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: '[{"name":"Pop","path":"Pop","hasPlaylists":true,"hasArtists":false,"hasAlbums":true,"hasTracks":true,"hasVideos":true,"image":"0239132d-99be-41f4-929d-e27280f7bff1"},{"name":"Rock","path":"Rock","hasPlaylists":true,"hasArtists":false,"hasAlbums":true,"hasTracks":true,"hasVideos":true,"image":"674f6c6c-24db-4baf-8cc9-abcda685f2a3"},{"name":"Hip
        Hop / Rap","path":"Hiphop","hasPlaylists":true,"hasArtists":false,"hasAlbums":true,"hasTracks":true,"hasVideos":true,"image":"658519e4-8aea-41a8-86f9-e3fbfb31a630"},{"name":"R&B
        / Soul","path":"Funk","hasPlaylists":true,"hasArtists":false,"hasAlbums":true,"hasTrac[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/genres/Electronic/playlists?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: "{\"limit\":1000,\"offset\":0,\"totalNumberOfItems\":49,\"items\":[{\"uuid\":\"a64c1779-24cf-4ae0-9983-038f56e49085\",\"title\":\"Electronic:
        Best of 2023 So Far\",\"numberOfTracks\":50,\"numberOfVideos\":0,\"creator\":{\"id\":0},\"description\":\"2023
        so far has brought us some great new releases not only from blockbuster names
        like Peggy Gou, Aphex Twin, Fred Again.. and The Chemical Brothers, but also
        from rising electronic stars like Jayda G, Overmono, Yaeji, Jam City and Avalon
        Emerson. Check out our 50 favorite picks of the year, so far. (Cover: Peggy
        Gou / Photo: Johngha Park)\",\"duration\":13517,\"lastUpdated\":\"2023-06-30T18:37:01.674+0000\",\"created\":\"2023-04-04T15:50:34.569+0000\",\"type\":\"EDITORIAL\",\"publicPlaylist\":true,\"url\":\"http://www.tidal.com/playlist/a64c1779-24cf-4ae0-9983-038f56e49085\",\"image\":\"165abe90-3a4c-4da1-849e-7a2e07aa1926\",\"popularity\":33,\"squareImage\":\"40cb3382-76d4-424c-b1bd-1793e1fa014f\",\"promotedArtists\":[{\"id\":7591045,\"name\":\"Peggy
        Gou\",\"type\":\"MAIN\",\"picture\":\"7c9c0fb5-100c-4ac7-8215-38500904fe64\"},{\"id\":3531604,\"name\":\"Aphex
        Twin\",\"type\":\"MAIN\",\"picture\":\"ffbe2d5c-f42a-4911-9cb6-c8a95269e560\"},{\"id\":17062018,\"name\":\"Fred
        again..\",\"type\":\"MAIN\",\"picture\":\"8c91999a-5524-413d-a8b4-4fcc787a8e3d\"},{\"id\":3853703,\"name\":\"Skrillex\",\"type\":\"MAIN\",\"picture\":\"1c1dd6ee-b6a0-49f8-88c5-2fa83ecafefd\"}],\"lastItemAddedAt\":\"2023-06-30T18:36:59.722+0000\"},{\"uuid\":\"a85b5abe-178e-4d5b-85c9-dd70471ec86f\",\"title\":\"Futureproof\",\"numberOfTracks\":50,\"numberOfVideos\":0,\"creator\":{\"id\":0},\"description\":\"Looking
        for a portal to the future of electronic music? You've come to the right place.
        From legacy innovators to the undeniable next-up producers, the artists on
        Futureproof span all corners of the musical map, bound by vision alone \u2013
        always eluding easy categorizati[...]
