interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/genres?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: '[{"name":"Pop","path":"Pop","hasPlaylists":true,"hasArtists":false,"hasAlbums":true,"hasTracks":true,"hasVideos":true,"image":"0239132d-99be-41f4-929d-e27280f7bff1"},{"name":"Rock","path":"Rock","hasPlaylists":true,"hasArtists":false,"hasAlbums":true,"hasTracks":true,"hasVideos":true,"image":"674f6c6c-24db-4baf-8cc9-abcda685f2a3"},{"name":"Hip
        Hop / Rap","path":"Hiphop","hasPlaylists":true,"hasArtists":false,"hasAlbums":true,"hasTracks":true,"hasVideos":true,"image":"658519e4-8aea-41a8-86f9-e3fbfb31a630"},{"name":"R&B
        / Soul","path":"Funk","hasPlaylists":true,"hasArtists":false,"hasAlbums":true,"hasTrac[...]
