interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/genres?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: '[{"name":"Pop","path":"Pop","hasPlaylists":true,"hasArtists":false,"hasAlbums":true,"hasTracks":true,"hasVideos":true,"image":"0239132d-99be-41f4-929d-e27280f7bff1"},{"name":"Rock","path":"Rock","hasPlaylists":true,"hasArtists":false,"hasAlbums":true,"hasTracks":true,"hasVideos":true,"image":"674f6c6c-24db-4baf-8cc9-abcda685f2a3"},{"name":"Hip
        Hop / Rap","path":"Hiphop","hasPlaylists":true,"hasArtists":false,"hasAlbums":true,"hasTracks":true,"hasVideos":true,"image":"658519e4-8aea-41a8-86f9-e3fbfb31a630"},{"name":"R&B
        / Soul","path":"Funk","hasPlaylists":true,"hasArtists":false,"hasAlbums":true,"hasTrac[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/genres/Pop/albums?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: "{\"limit\":1000,\"offset\":0,\"totalNumberOfItems\":479,\"items\":[{\"id\":305546892,\"title\":\"Barbie
        The Album\",\"duration\":2657,\"streamReady\":true,\"adSupportedStreamReady\":true,\"streamStartDate\":\"2023-05-26T00:00:00.000+0000\",\"allowStreaming\":true,\"premiumStreamingOnly\":false,\"numberOfTracks\":17,\"numberOfVideos\":0,\"numberOfVolumes\":1,\"releaseDate\":\"2023-07-21\",\"copyright\":\"\xA9
        2023 Atlantic Recording Corporation, Warner Bros. Entertainment, Inc. & Mattel,
        Inc.\",\"type\":\"ALBUM\",\"version\":null,\"url\":\"http://www.tidal.com/album/305546892\",\"cover\":\"b85a87c0-fd52-4209-8460-d0d0c7ac2d10\",\"vibrantColor\":\"#ec5ca2\",\"videoCover\":null,\"explicit\":false,\"upc\":\"075679688767\",\"popularity\":10,\"audioQuality\":\"HI_RES\",\"audioModes\":[\"STEREO\"],\"mediaMetadata\":{\"tags\":[\"LOSSLESS\",\"HIRES_LOSSLESS\",\"MQA\"]},\"artist\":{\"id\":2935,\"name\":\"Various
        Artists\",\"type\":\"MAIN\",\"picture\":null},\"artists\":[{\"id\":2935,\"name\":\"Various
        Artists\",\"type\":\"MAIN\",\"picture\":null}]},{\"id\":303316291,\"title\":\"Speak
        Now (Taylor's Version)\",\"duration\":6282,\"streamReady\":true,\"adSupportedStreamReady\":true,\"streamStartDate\":\"2023-07-07T05:00:00.000+0000\",\"allowStreaming\":true,\"premiumStreamingOnly\":false,\"numberOfTracks\":22,\"numberOfVideos\":0,\"numberOfVolumes\":1,\"releaseDate\":\"2023-07-07\",\"copyright\":\"\xA9
        2023 Taylor Swift\",\"type\":\"ALBUM\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/genres/Pop/tracks?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: "{\"limit\":1000,\"offset\":0,\"totalNumberOfItems\":492,\"items\":[{\"id\":305588859,\"title\":\"Love
        Like This\",\"duration\":173,\"replayGain\":-8.96,\"peak\":0.999885,\"allowStreaming\":true,\"streamReady\":true,\"adSupportedStreamReady\":true,\"streamStartDate\":\"2023-07-21T00:00:00.000+0000\",\"premiumStreamingOnly\":false,\"trackNumber\":1,\"volumeNumber\":1,\"version\":null,\"popularity\":0,\"copyright\":\"\u2117
        2023 Drop Zed Music, LLC, under an exclusive license to Mercury Records /
        Republic Records, a division of UMG Recordings, Inc.\",\"url\":\"http://www.tidal.com/track/305588859\",\"isrc\":\"USUG12305897\",\"editable\":false,\"explicit\":false,\"audioQuality\":\"HI_RES\",\"audioModes\":[\"STEREO\"],\"mediaMetadata\":{\"tags\":[\"LOSSLESS\",\"HIRES_LOSSLESS\",\"MQA\"]},\"artist\":{\"id\":6639721,\"name\":\"ZAYN\",\"type\":\"MAIN\",\"picture\":\"95b467da-0127-4957-8d79-0d823bea5d37\"},\"artists\":[{\"id\":6639721,\"name\":\"ZAYN\",\"type\":\"MAIN\",\"picture\":\"95b467da-0127-4957-8d79-0d823bea5d37\"}],\"album\":{\"id\":305588857,\"title\":\"Love
        Like This\",\"cover\":\"46867ec9-4377-4d1d-a877-050c19975057\",\"vibrantColor\":\"#91e1a0\",\"videoCover\":null},\"mixes\":{\"MASTER_TRACK_MIX\":\"0145c4006061fc212efdfaecc91b68\",\"TRACK_MIX\":\"001836fc7dad6a065a52ba3776e9c7\"}},{\"id\":305546898,\"title\":\"Man
        I Am\",\"duration\":188,\"replayGain\":-11.13,\"peak\":0.99884,\"allowStreaming\":true,\"streamReady\":true,\"adSupportedStreamReady\":true,\"streamStartDate\":\"2023-07-21T00:00:00.000+0000\",\"premiumStreamingOnly\":false,\"trackNumber\":6,\"volumeNumber\":1,\"version\":null,\"popularity\":3,\"copyright\":\"A
        Capitol Records UK/EMI Release, \u2117 2023 Universal Music Operations Limited\",\"url\":\"http://ww[...]
