interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/videos/151050672?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: '{"id":151050672,"title":"Nachbarn","volumeNumber":1,"trackNumber":1,"releaseDate":null,"imagePath":null,"imageId":"ac00b8f8-5b7c-4c0f-9dfe-c8082739fc58","vibrantColor":"#d1f5dc","duration":182,"quality":"MP4_1080P","streamReady":true,"adSupportedStreamReady":true,"streamStartDate":"2020-08-04T00:00:00.000+0000","allowStreaming":true,"explicit":false,"popularity":4,"type":"Music
        Video","adsUrl":null,"adsPrePaywallOnly":true,"artist":{"id":4070874,"name":"Harris
        & Ford","type":"MAIN","picture":"d1f6da5b-27c7-4a26-b01d-872f48d99e3d"},"artists":[{"id":4070874,"name":"Harris
        & Ford","type":"MAIN","picture":"d1f6da5b-27c7-4a26-b01d-872f48d99e3d"},{"id":9341252,"name":"FiNCH","type":"MAIN","picture":"99bb2b18-81fc-49f0-bf2a-439b6809ae23"}],"album":null}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/artists/9341252/videos?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&offset=0
  response:
    body:
      string: "{\"limit\":1000,\"offset\":0,\"totalNumberOfItems\":17,\"items\":[{\"id\":304856053,\"title\":\"VAMOS
        (Lyric Video)\",\"volumeNumber\":0,\"trackNumber\":0,\"releaseDate\":\"2023-07-07T00:00:00.000+0000\",\"imagePath\":null,\"imageId\":\"1f02560a-0d73-4c8c-a237-d9d703bec4f6\",\"vibrantColor\":\"#98e8dd\",\"duration\":150,\"quality\":\"MP4_1080P\",\"streamReady\":true,\"adSupportedStreamReady\":true,\"streamStartDate\":\"2023-07-15T00:00:00.000+0000\",\"allowStreaming\":true,\"explicit\":false,\"popularity\":0,\"type\":\"Music
        Video\",\"adsUrl\"[...]
