interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/tracks/95948697?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: '{"id":95948697,"title":"Youm Wara Youm","duration":256,"replayGain":-8.06,"peak":0.956329,"allowStreaming":true,"streamReady":true,"adSupportedStreamReady":true,"streamStartDate":"2002-06-16T00:00:00.000+0000","premiumStreamingOnly":false,"trackNumber":1,"volumeNumber":1,"version":null,"popularity":2,"copyright":"(P)
        2002 Mazzika Group","url":"http://www.tidal.com/track/95948697","isrc":"EGA019000879","editable":false,"explicit":false,"audioQuality":"LOSSLESS","audioModes":["STEREO"],"mediaMetadata":{"tags":["LOSSLESS"]},"artist":{"id":10412533,"name":"Samira
        Saeed","type":"MAIN","picture":null},"artists":[{"id":10412533,"name":"Samira
        Saeed","type":"MAIN","picture":null}],"album":{"id":95948696,"title":"Youm
        Wara Youm","cover":"f0bf0b29-103c-4796-8514-77fb46773651","vibrantColor":"#f9bb7b","videoCover":null},"mixes":{"TRACK_MIX":"001214b6ee0c8845be73ef5351b45e"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/tracks/95948697/lyrics?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: "{\"trackId\":95948697,\"lyricsProvider\":\"MUSIXMATCH\",\"providerCommontrackId\":\"22212492\",\"providerLyricsId\":\"29518450\",\"lyrics\":\"\u0623\u0646\u0627
        \u0631\u0627\u062C\u0639\u0629 \u064A\u0627 \u0623\u063A\u0644\u0649 \u062D\u0628\u064A\u0628
        \u0628\u0642\u0648\u0644\u0643 \u0644\u0627 \u0643\u062F\u0647 \u0643\u0641\u0627\u064A\u0629\\n\u062D\u0628\u064A\u0628\u064A
        \u0645\u0647\u0645\u0627 \u0643\u0646\u062A \u0628\u063A\u064A\u0628 \u0628\u0642\u0644\u0628\u0643
        \u0643\u0646\u062A \u0648\u064A\u0627\u064A\u0627\\n\u0623\u0646\u0627 \u0631\u0627\u062C\u0639\u0629
        \u064A\u0627 \u0[...]
