interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/tracks/56480040?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: "{\"id\":56480040,\"title\":\"Falling Away\",\"duration\":345,\"replayGain\":-10.65,\"peak\":0.988403,\"allowStreaming\":true,\"streamReady\":true,\"adSupportedStreamReady\":true,\"streamStartDate\":\"2016-01-29T00:00:00.000+0000\",\"premiumStreamingOnly\":false,\"trackNumber\":1,\"volumeNumber\":1,\"version\":\"MitiS
        Remix\",\"popularity\":2,\"copyright\":\"\u2117 2015 Republic Records, a division
        of UMG Recordings, Inc.\",\"url\":\"http://www.tidal.com/track/56480040\",\"isrc\":\"USUM71600251\",\"editable\":false,\"explicit\":false,\"audioQuality\":\"LOSSLESS\",\"audioModes\":[\"STEREO\"],\"mediaMetadata\":{\"tags\":[\"LOSSLESS\"]},\"artist\":{\"id\":4612886,\"name\":\"Seven
        Lions\",\"type\":\"MAIN\",\"picture\":\"27a44d67-b24b-4519-a227-5ebffc3a24c4\"},\"artists\":[{\"id\":4612886,\"name\":\"Seven
        Lions\",\"type\":\"MAIN\",\"picture\":\"27a44d67-b24b-4519-a227-5ebffc3a24c4\"},{\"id\":3541275,\"name\":\"Lights\",\"type\":\"FEATURED\",\"picture\":\"a1ca44d7-6178-48bb-aaa6-b8be927f0425\"}],\"album\":{\"id\":56480039,\"title\":\"Falling
        Away (Remixes)\",\"cover\":\"286302f3-89ff-4677-a816-f6500efa910f\",\"vibrantColor\":\"#8abcdb\",\"videoCover\":null},\"mixes\":{\"TRACK_MIX\":\"001b8ac87d148fe787ec700bd68328\"}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/tracks/56480040/lyrics?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: '{"trackId":56480040,"lyricsProvider":"MUSIXMATCH","providerCommontrackId":"54226130","providerLyricsId":"14066511","lyrics":"I
        didn''t want to think\nCause I knew I was out of my mind\nYou pulled me from
        the brink\nAnd brought me to the other side\n\nAnd I\nThink we''re there\nAnd
        I\nThink we''re there\n\nSo goodnight goodnight\nDon''t have to have it all
        figured out\nWe''ll be alright\nWhat comes about is gonna come about\nTomorrow
        when we meet\nJust take me to a place I''ve never been\nFind me in the sweetest
        oblivion\n\nOh, oh\nWe have it all\nIn front of us\nAnd I can see the\nSun
        is up to cover us\nI''m lifted up\nTake me to a beautiful day\nAnd I feel
        like our\nShadow is falling away\nFalling away And I don''t want to go\nI
        want to be here all night\nNo one has to know\nNo one has to say it''s alright\n\n''Cause
        I\nThink we''re there\nAnd I\nThink we''re there\n\nSo goodnight goodnight\nDon''t
        have to have it all figured out\nWe''ll be alright\nWhat comes back is gonna
        come back\nTomorrow when we meet\nJust take me to a place I''ve never been\nFind
        me in the sweetest oblivion\n\nWe have it all\nIn front of us\nAnd I can''t
        see the\nSun is up to cover us\nI''m lifted up\nTake me to a beautiful day\nAnd
        I feel like our\nShadow is falling away\nFalling away","subtitles":"[00:28.29]
        I didn''t want to think\n[00:31.73] Cause I knew I was out of my mind\n[00:35.18]
        You pulled me from the brink\n[00:38.27] And brought me to the other side\n[00:41.25]
        And I\n[00:45.23] Think we''re there\n[00:48.15] And I\n[00:51.84] Think we''re
        there\n[00:55.30] So goodnight goodnight\n[00:58.86] Don''t have to have it
        all figured out\n[01:02.37] We''ll be alright\n[01:05.71] What comes about
        is gonna come about\n[01:09.08] Tomorrow [...]
