interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/tracks/17626400?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: "{\"id\":17626400,\"title\":\"Beethoven: Symphony No. 5 in C Minor,
        Op. 67 - I. Allegro con brio\",\"duration\":448,\"replayGain\":-2.51,\"peak\":0.772796,\"allowStreaming\":true,\"streamReady\":true,\"adSupportedStreamReady\":true,\"streamStartDate\":\"2014-12-23T00:00:00.000+0000\",\"premiumStreamingOnly\":false,\"trackNumber\":1,\"volumeNumber\":1,\"version\":null,\"popularity\":12,\"copyright\":\"\u2117
        1975 Deutsche Grammophon GmbH, Berlin\",\"url\":\"http://www.tidal.com/track/17626400\",\"isrc\":\"DEF057401772\",\"editable\":false,\"explicit\":false,\"audioQuality\":\"LOSSLESS\",\"audioModes\":[\"STEREO\"],\"mediaMetadata\":{\"tags\":[\"LOSSLESS\",\"HIRES_LOSSLESS\"]},\"artist\":{\"id\":3652537,\"name\":\"Wiener
        Philharmoniker\",\"type\":\"MAIN\",\"picture\":\"eed38926-f05f-406b-8f94-00b59c3a8f77\"},\"artists\":[{\"id\":3652537,\"name\":\"Wiener
        Philharmoniker\",\"type\":\"MAIN\",\"picture\":\"eed38926-f05f-406b-8f94-00b59c3a8f77\"},{\"id\":7246,\"name\":\"Carlos
        Kleiber\",\"type\":\"FEATURED\",\"picture\":\"d1fd38cd-b475-4986-b2d2-739efc759b85\"}],\"album\":{\"id\":17626399,\"title\":\"Beethoven:
        Symphonies Nos. 5 & 7\",\"cover\":\"71922f7a-ceee-46cc-856d-7e369ff42531\",\"vibrantColor\":\"#e7d867\",\"videoCover\":null},\"mixes\":{\"TRACK_MIX\":\"00146dbac72cfbf419c979786c807e\"}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/tracks/17626400/lyrics?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: '{"timestamp":"2023-07-23T15:53:59.759+00:00","status":404,"error":"Not
        Found","path":"/lyrics/public/17626400"}'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Burst-Capacity:
      - '50'
      X-RateLimit-Remaining:
      - '49'
      X-RateLimit-Replenish-Rate:
      - '1'
      X-RateLimit-Requested-Tokens:
      - '1'
    status:
      code: 404
      message: Not Found
version: 1
