interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/videos/125506698?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: '{"id":125506698,"title":"Alone, Pt. II","volumeNumber":0,"trackNumber":0,"releaseDate":"2019-12-26T00:00:00.000+0000","imagePath":null,"imageId":"7f1160e3-bdc3-4764-810b-93194443913d","vibrantColor":"#e2f2e5","duration":237,"quality":"MP4_1080P","streamReady":true,"adSupportedStreamReady":true,"streamStartDate":"2019-12-27T08:00:00.000+0000","allowStreaming":true,"explicit":false,"popularity":19,"type":"Music
        Video","adsUrl":null,"adsPrePaywallOnly":true,"artist":{"id":6159368,"name":"Alan
        Walker","type":"MAIN","picture":"c46be937-9869-4454-8d80-ba6a6e23b6c6"},"artists":[{"id":6159368,"name":"Alan
        Walker","type":"MAIN","picture":"c46be937-9869-4454-8d80-ba6a6e23b6c6"},{"id":9282225,"name":"Ava
        Max","type":"MAIN","picture":"eca9c7b3-4ba5-4754-a7b9-b78007788603"}],"album":null}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
