interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/tracks/149119714?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: '{"id":149119714,"title":"Fibonacci Progressions (Keemiyo Remix)","duration":423,"replayGain":-8.43,"peak":1.0,"allowStreaming":true,"streamReady":true,"adSupportedStreamReady":true,"streamStartDate":"2020-06-29T00:00:00.000+0000","premiumStreamingOnly":false,"trackNumber":1,"volumeNumber":2,"version":null,"popularity":1,"copyright":"2020
        Altar Records","url":"http://www.tidal.com/track/149119714","isrc":"USCGH1799837","editable":false,"explicit":false,"audioQuality":"LOSSLESS","audioModes":["STEREO"],"mediaMetadata":{"tags":["LOSSLESS"]},"artist":{"id":4024074,"name":"Lab''s
        Cloud","type":"MAIN","picture":null},"artists":[{"id":4024074,"name":"Lab''s
        Cloud","type":"MAIN","picture":null}],"album":{"id":149119703,"title":"Serial
        Chillers, Pt. 1","cover":"19a0f5a1-f2ce-43e5-8031-4b2282a33017","vibrantColor":"#5e8ec2","videoCover":null},"mixes":{"TRACK_MIX":"0017f154c5a9ac21a17069b42d04bf"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
