interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/pages/explore?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&deviceType=BROWSER
  response:
    body:
      string: '{"selfLink":null,"id":"eyJwIjoiMTNmMDA0MmUtNmM3Yi00NzI5LWFkN2QtYTJiZmYyOTRjNjRiIiwicFYiOjR9","title":"Explore","rows":[{"modules":[{"id":"eyJwIjoiMTNmMDA0MmUtNmM3Yi00NzI5LWFkN2QtYTJiZmYyOTRjNjRiIiwicFYiOjQsIm0iOiJhNzMzYzFhZS1jMTRhLTQ2NGYtYjk4ZC1kYzY3ZTZlMjdiMzciLCJtViI6MSwibUgiOiI4NTI0MGYxZCJ9","type":"FEATURED_PROMOTIONS","width":100,"title":"Featured","description":"","preTitle":null,"items":[{"header":"LISTEN:
        NEW ALBUM","shortHeader":"Blur","shortSubHeader":"The Ballad Of Darren","imageId":"97cd7cac-4677-4640-ace1-75284a160172","type":"ALBUM","artifactId":"304357042","text":"","featured":false},{"header":"NEW
        ON WEEKEND WAVES","shortHeader":"Rita Ora: Waiting For You","shortSubHeader":"+
        Troye Sivan, Georgia & more","imageId":"17e70eb1-6321-41c8-b252-ffbfa5a05cae","type":"PLAYLIST","artifactId":"381240ed-041e-46bb-961c-ddd94cdd87b2","text":"","featured":false},{"header":"CELEBRATE","shortHeader":"Summer
        is here!","shortSubHeader":" ","imageId":"1e3c577c-16fc-4ed8-bc7c-ba87b40634e2","type":"CATEGORY_PAGES","artifactId":"pages/genre_summer","text":"","featured":false},{"header":"NEW
        IN UK ROCK","shortHeader":"Royal Blood","shortSubHeader":"+ Hot Milk, Queen
        Cult & more","imageId":"c68d116b-772a-4ad0-a819-56c7810af664","type":"PLAYLIST","artifactId":"f46c158b-cb2c-4b39-832e-5510bf7587a4","text":"","featured":false},{"header":"ANNIVERSARY","shortHeader":"The
        Beatles","shortSubHeader":"Abbey Road (Remastered)","imageId":"d42f8412-8d1e-439c-bff5-fd3a5f2c5275","type":"ALBUM","artifactId":"55130630","text":"","featured":false}]}]},{"modules":[{"id":"eyJwIjoiMTNmMDA0MmUtNmM3Yi00NzI5LWFkN2QtYTJiZmYyOTRjNjRiIiwicFYiOjQsIm0iOiIxMDgxMjVlMy0yNTNhLTQ1ODUtYmJkZC0wZTQyYThkNDYxMmQiLCJtViI6MiwibUgiOiI3MmE4ZWRmMiJ9","type":"PAGE_LINKS_CLOUD","width":100,"title":"Genres","description":"","preTitle":null,"showMore":{"title":"View
        as list","apiPath":"pages/genre_page"},"pagedList":{"limit":40,"offset":0,"totalNumberOfItems":23,"items":[{"title":"Decades","icon":"genre","apiPath":"pages/genre_decades","imageId":"genre"},{"title":"Hip-Hop","icon":"hiphop","apiPath":"pages/genre_hip_hop","imageId":"hiphop"},{"title":"R&B
        / Soul","icon":"rnb","apiPath":"pages/genre_rnb","imageId":"rnb"},{"title":"Pop","icon":"pop","apiPath":"pages/genre_pop","imageId":"pop"},{"title":"Rock
        / Indie","icon":"rock","apiPath":"pages/genre_indierock","imageId":"rock"},{"title":"Dance","icon":"dance","apiPath":"pages/genre_dance","imageId":"dance"},{"title":"Afri[...]
