interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/pages/moods?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&deviceType=BROWSER
  response:
    body:
      string: '{"selfLink":null,"id":"eyJwIjoiZDVhYTEyODItOTk0My00ZDRlLWE1N2MtY2VlYzAxOTAyMDA0IiwicFYiOjF9","title":"Moods","rows":[{"modules":[{"id":"eyJwIjoiZDVhYTEyODItOTk0My00ZDRlLWE1N2MtY2VlYzAxOTAyMDA0IiwicFYiOjEsIm0iOiI4NTBjYWE0NS03Mzg2LTRlMTItYmQyYS0xZDBlZWMyYmFmZTEiLCJtViI6MSwibUgiOiJhZGMwMmExMyJ9","type":"PAGE_LINKS_CLOUD","width":100,"title":"","description":"","preTitle":null,"showMore":null,"pagedList":{"limit":1000,"offset":0,"totalNumberOfItems":12,"items":[{"title":"Music
        School","icon":"music_school","apiPath":"pages/music_school","imageId":"music_school"},{"title":"Workout","icon":"workout","apiPath":"pages/mood_workout","imageId":"workout"},{"title":"Sleep","icon":"mood_sleep","apiPath":"pages/mood_sleep","imageId":"mood_sleep"},{"title":"Party","icon":"party","apiPath":"pages/mood_party","imageId":"party"},{"title":"Summer","icon":"summer","apiPath":"pages/genre_summer","imageId":"summer"},{"title":"Gaming","icon":"mood_gaming","apiPath":"pages/mood_gaming","imageId":"mood_gaming"},{"title":"Relax","icon":"relax","apiPath":"pages/mood_relax","imageId":"relax"},{"title":"Focus","icon":"focus","apiPath":"pages/mood_focus","imageId":"focus"},{"title":"Credits","icon":"credits","apiPath":"pages/credits","imageId":"credits"},{"title":"Wellness","icon":"wellness","apiPath":"pages/mood_wellness","imageId":"wellness"},{"title":"Romance","icon":"love","apiPath":"pages/mood_love","imageId":"love"},{"title":"For
        DJs","icon":"mood_djselector","apiPath":"pages/mood_djselector","imageId":"mood_djselector"}],"dataApiPath":"pages/data/27b444ac-e539-4f03-81e3-98d1da922edb"},"lines":1}]}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      ETag:
      - '"-260298510"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/pages/music_school?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&deviceType=DESKTOP
  response:
    body:
      string: "{\"selfLink\":null,\"id\":\"eyJwIjoiNzY2OTkzYzMtZjdmNy00YTdkLTk5NGYtZWQ3NzdiZTczM2QxIiwicFYiOjN9\",\"title\":\"Music
        School\",\"rows\":[{\"modules\":[{\"id\":\"eyJwIjoiNzY2OTkzYzMtZjdmNy00YTdkLTk5NGYtZWQ3NzdiZTczM2QxIiwicFYiOjMsIm0iOiJjZjBmM2FkNy0zYzBhLTQ2NDEtYTY4My02MzE3YjgwYTFlN2MiLCJtViI6MSwibUgiOiJlMWZiNjJlMSJ9\",\"type\":\"PLAYLIST_LIST\",\"width\":100,\"title\":\"Genres
        For Beginners\",\"description\":\"\",\"preTitle\":null,\"showMore\":{\"title\":\"View
        all\",\"apiPath\":\"pages/single-module-page/766993c3-f7f7-4a7d-994f-ed777be733d1/3/cf0f3ad7-3c0a-4641-a683-6317b80a1e7c/1\"},\"supportsPaging\":false,\"quickPlay\":false,\"scroll\":\"HORIZONTAL\",\"pagedList\":{\"limit\":15,\"offset\":0,\"totalNumberOfItems\":16,\"items\":[{\"uuid\":\"20c7cc47-fe81-4a13-bd29-35f672160f79\",\"title\":\"Jazz
        for Beginners\",\"type\":\"EDITORIAL\",\"url\":\"https://tidal.com/browse/playlist/20c7cc47-fe81-4a13-bd29-35f672160f79\",\"image\":null,\"squareImage\":\"c74d6a1f-73d9-4ceb-9de0-a1fc272d8e07\",\"duration\":7435,\"numberOfTracks\":20,\"numberOfVideos\":0,\"lastItemAddedAt\":\"2022-08-18T16:48:27.052Z\",\"promotedArtists\":[{\"id\":1072,\"name\":\"Louis
        Armstrong\",\"type\":\"MAIN\",\"picture\":\"112d8866-1b85-4200-a0b2-221e1c0ba003\"},{\"id\":55,\"name\":\"Miles
        Davis\",\"type\":\"MAIN\",\"picture\":\"e11debbb-a25d-4410-9dc0-bb6114ddff30\"},{\"id\":3364,\"name\":\"Sonny
        Rollins\",\"type\":\"MAIN\",\"picture\":\"73b53d44-0c35-4d7c-9e29-975e55c7379f\"},{\"id\":4518,\"name\":\"Count
        Basie\",\"type\":\"MAIN\",\"picture\":\"c1d0ae21-6398-4b7a-9bea-e22daf710b9f\"}],\"creators\":[],\"description\":\"New
        to jazz? These carefully selected 20 tracks will serve as your beginner's
        guide to some of the best the genre has to offer. Use them as a jumping-off
        point to discover even more great rock. /// Jazz's century-plus history is
        impossible to encapsulate in 20 recordings, but few could argue with the sheer
        artistic brilliance of these tracks. Consider this your era-spanning, cross-stylistic
        crash course in America's most gorgeo[...]
