interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/pages/explore?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&deviceType=BROWSER
  response:
    body:
      string: '{"selfLink":null,"id":"eyJwIjoiMTNmMDA0MmUtNmM3Yi00NzI5LWFkN2QtYTJiZmYyOTRjNjRiIiwicFYiOjR9","title":"Explore","rows":[{"modules":[{"id":"eyJwIjoiMTNmMDA0MmUtNmM3Yi00NzI5LWFkN2QtYTJiZmYyOTRjNjRiIiwicFYiOjQsIm0iOiJhNzMzYzFhZS1jMTRhLTQ2NGYtYjk4ZC1kYzY3ZTZlMjdiMzciLCJtViI6MSwibUgiOiI4NTI0MGYxZCJ9","type":"FEATURED_PROMOTIONS","width":100,"title":"Featured","description":"","preTitle":null,"items":[{"header":"LISTEN:
        NEW ALBUM","shortHeader":"Blur","shortSubHeader":"The Ballad Of Darren","imageId":"97cd7cac-4677-4640-ace1-75284a160172","type":"ALBUM","artifactId":"304357042","text":"","featured":false},{"header":"NEW
        ON WEEKEND WAVES","shortHeader":"Rita Ora: Waiting For You","shortSubHeader":"+
        Troye Sivan, Georgia & more","imageId":"17e70eb1-6321-41c8-b252-ffbfa5a05cae","type":"PLAYLIST","artifactId":"381240ed-041e-46bb-961c-ddd94cdd87b2","text":"","featured":false},{"header":"CELEBRATE","shortHeader":"Summer
        is here!","shortSubHeader":" ","imageId":"1e3c577c-16fc-4ed8-bc7c-ba87b40634e2","type":"CATEGORY_PAGES","artifactId":"pages/genre_summer","text":"","featured":false},{"header":"NEW
        IN UK ROCK","shortHeader":"Royal Blood","shortSubHeader":"+ Hot Milk, Queen
        Cult & more","imageId":"c68d116b-772a-4ad0-a819-56c7810af664","type":"PLAYLIST","artifactId":"f46c158b-cb2c-4b39-832e-5510bf7587a4","text":"","featured":false},{"header":"ANNIVERSARY","shortHeader":"The
        Beatles","shortSubHeader":"Abbey Road (Remastered)","imageId":"d42f8412-8d1e-439c-bff5-fd3a5f2c5275","type":"ALBUM","artifactId":"55130630","text":"","featured":false}]}]},{"modules":[{"id":"eyJwIjoiMTNmMDA0MmUtNmM3Yi00NzI5LWFkN2QtYTJiZmYyOTRjNjRiIiwicFYiOjQsIm0iOiIxMDgxMjVlMy0yNTNhLTQ1ODUtYmJkZC0wZTQyYThkNDYxMmQiLCJtViI6MiwibUgiOiI3MmE4ZWRmMiJ9","type":"PAGE_LINKS_CLOUD","width":100,"title":"Genres","description":"","preTitle":null,"showMore":{"title":"View
        as list","apiPath":"pages/genre_page"},"pagedList":{"limit":40,"offset":0,"totalNumberOfItems":23,"items":[{"title":"Decades","icon":"genre","apiPath":"pages/genre_decades","imageId":"genre"},{"title":"Hip-Hop","icon":"hiphop","apiPath":"pages/genre_hip_hop","imageId":"hiphop"},{"title":"R&B
        / Soul","icon":"rnb","apiPath":"pages/genre_rnb","imageId":"rnb"},{"title":"Pop","icon":"pop","apiPath":"pages/genre_pop","imageId":"pop"},{"title":"Rock
        / Indie","icon":"rock","apiPath":"pages/genre_indierock","imageId":"rock"},{"title":"Dance","icon":"dance","apiPath":"pages/genre_dance","imageId":"dance"},{"title":"Afri[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/pages/explore_new_music?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&deviceType=DESKTOP
  response:
    body:
      string: '{"selfLink":null,"id":"eyJwIjoiNDdhZTMzMTctOTlhYi00YzgzLWJhNzQtN2UyMTlmNjg0MmY4IiwicFYiOjI5fQ==","title":"New","rows":[{"modules":[{"id":"eyJwIjoiNDdhZTMzMTctOTlhYi00YzgzLWJhNzQtN2UyMTlmNjg0MmY4IiwicFYiOjI5LCJtIjoiZjI0ZTViMmQtOWYzZS00OGVkLWI2OGQtOThiMTE4NGJiNDkzIiwibVYiOjEsIm1IIjoiY2M0YzlhMjAifQ==","type":"TRACK_LIST","width":100,"title":"New
        Tracks","description":"","preTitle":null,"showMore":{"title":"View all","apiPath":"pages/single-module-page/47ae3317-99ab-4c83-ba74-7e219f6842f8/29/f24e5b2d-9f3e-48ed-b68d-98b1184bb493/1"},"supportsPaging":false,"quickPlay":false,"listFormat":"COVERS","scroll":null,"layout":null,"pagedList":{"limit":5,"offset":0,"totalNumberOfItems":482,"items":[{"id":305588859,"title":"Love
        Like This","duration":173,"version":null,"url":"https://tidal.com/browse/track/305588859","artists":[{"id":6639721,"name":"ZAYN","type":"MAIN","picture":"95b467da-0127-4957-8d79-0d823bea5d37"}],"album":{"id":305588857,"title":"Love
        Like This","cover":"46867ec9-4377-4d1d-a877-050c19975057","vibrantColor":"#91e1a0","videoCover":null,"url":"https://tidal.com/browse/album/305588857","releaseDate":"2023-07-21"},"explicit":false,"volumeNumber":1,"trackNumber":1,"popularity":0,"allowStreaming":true,"streamReady":true,"streamStartDate":"2023-07-21T00:00:00.000+0000","adSupportedStreamReady":true,"editable":false,"replayGain":-8.96,"audioQuality":"HI_RES","audioModes":["STEREO"],"mixes":{"MASTER_TRACK_MIX":"0145c4006061fc212efdfaecc91b68","TRACK_MIX":"001836fc7dad6a065a52ba3776e9c7"},"mediaMetadata":{"tags":["MQA","LOSSLESS","HIRES_LOSSLESS"]}},{"id":304767160,"title":"The
        Weekend","duration":206,"version":null,"url":"https://tidal.com/browse/track/304767160","artists":[{"id":7779063,"name":"RAYE","type":"MAIN","picture":"b0a36aa8-49ed-43b1-8657-a2309efc9bb9"},{"id":6162093,"name":"Stormzy","type":"MAIN","picture":"0bdd2aa7-2d64-4002-853c-e1fe4b55e81b"}],"album":{"id":304767156,"title":"The
        Weekend","cover":"7d4b3eb9-58a4-48b2-a294-c1c760a2447a","vibrantColor":"#f3928a","videoCover"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/pages/explore_top_music?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&deviceType=DESKTOP
  response:
    body:
      string: "{\"selfLink\":null,\"id\":\"eyJwIjoiMDMyZjAyYzItODAwYy00MGUzLWJjMTUtYTU0NzUyYmNkMDM2IiwicFYiOjQ4fQ==\",\"title\":\"Top\",\"rows\":[{\"modules\":[{\"id\":\"eyJwIjoiMDMyZjAyYzItODAwYy00MGUzLWJjMTUtYTU0NzUyYmNkMDM2IiwicFYiOjQ4LCJtIjoiMWRhZDE0MTctOWE4Mi00OWQxLWIyYjEtNjUwYWJlYmFlMjJiIiwibVYiOjEsIm1IIjoiZTVhMmNhNDgifQ==\",\"type\":\"PLAYLIST_LIST\",\"width\":100,\"title\":\"Best
        of 2023 so far\",\"description\":\"\",\"preTitle\":null,\"showMore\":{\"title\":\"View
        all\",\"apiPath\":\"pages/single-module-page/032f02c2-800c-40e3-bc15-a54752bcd036/48/1dad1417-9a82-49d1-b2b1-650abebae22b/1\"},\"supportsPaging\":false,\"quickPlay\":false,\"scroll\":\"HORIZONTAL\",\"pagedList\":{\"limit\":15,\"offset\":0,\"totalNumberOfItems\":18,\"items\":[{\"uuid\":\"74ed1885-5f0e-4f91-bb5c-d6defcdbe6e5\",\"title\":\"Best
        Songs of 2023 So Far\",\"type\":\"EDITORIAL\",\"url\":\"https://tidal.com/browse/playlist/74ed1885-5f0e-4f91-bb5c-d6defcdbe6e5\",\"image\":null,\"squareImage\":\"36d7833f-1f35-4de3-bf7a-808d5c0dafa6\",\"duration\":15805,\"numberOfTracks\":75,\"numberOfVideos\":0,\"lastItemAddedAt\":\"2023-07-07T20:32:47.702Z\",\"promotedArtists\":[{\"id\":33236,\"name\":\"Miley
        Cyrus\",\"type\":\"MAIN\",\"picture\":\"78451117-afc6-4ece-97cb-ed31208d5dc0\"},{\"id\":23409727,\"name\":\"PinkPantheress\",\"type\":\"MAIN\",\"picture\":\"81ef2d70-3905-4998-8f0a-b41b453ec57f\"},{\"id\":23396605,\"name\":\"Ice
        Spice\",\"type\":\"MAIN\",\"picture\":\"5d1714c8-c274-4b4e-9c2a-edfa08ba4f6b\"},{\"id\":33385244,\"name\":\"NewJeans\",\"type\":\"MAIN\",\"picture\":\"71008b6d-3661-42ec-acbe-a521b24b8966\"}],\"creators\":[],\"description\":\"Check
        out some of the highlights of 2023 so far across all genres. (Cover: Miley
        Cyrus / Photo: Columbia, Sony, press) \"},{\"uuid\":\"8f644d1e-c75b-4e93-a213-acd6795a4442\",\"title\":\"Folk
        & Americana: Best of 2023 So Far\",\"type\":\"EDITORIAL\",\"url\":\"https://tidal.com/browse/playlist/8f644d1e-c75b-4e93-a213-acd6795a4442\",\"image\":null,\"squareImage\":\"f0649f8d-c2c9-431d-baee-458256425335\",\"duration\":13219,\"numberOfTracks\":50,\"numberOf[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/pages/rising?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&deviceType=DESKTOP
  response:
    body:
      string: "{\"selfLink\":null,\"id\":\"eyJwIjoiNzBmMTQwMDctZTNkOC00NDlhLWIwMDUtMWVlN2U3YzM3YzZiIiwicFYiOjU0fQ==\",\"title\":\"TIDAL
        RISING\",\"rows\":[{\"modules\":[{\"id\":\"eyJwIjoiNzBmMTQwMDctZTNkOC00NDlhLWIwMDUtMWVlN2U3YzM3YzZiIiwicFYiOjU0LCJtIjoiNThjMWQ3NGUtM2ZlMi00M[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/pages/cross_genre?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&deviceType=DESKTOP
  response:
    body:
      string: "{\"selfLink\":null,\"id\":\"eyJwIjoiYmY0NjBiMTktOGMxNC00ZDM2LTk5ZTctZjk5ZTZmYWEyMGU1IiwicFYiOjR9\",\"title\":\"Cross-Genre\",\"rows\":[{\"modules\":[{\"id\":\"eyJwIjoiYmY0NjBiMTktOGMxNC00ZDM2LTk5ZTctZjk5ZTZmYWEyMGU1IiwicFYiOjQsIm0iOiI0YTg1OGJmYS1lMjVkLTRjMjMtOTcwM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/pages/clean_content?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&deviceType=DESKTOP
  response:
    body:
      string: "{\"selfLink\":null,\"id\":\"eyJwIjoiNmQ1MTU4OTEtOWM0MC00NjZiLWEzNzEtNTJjZGIzZDE2ZmVlIiwicFYiOjN9\",\"title\":\"Clean\",\"rows\":[{\"modules\":[{\"id\":\"eyJwIjoiNmQ1MTU4OTEtOWM0MC00NjZiLWEzNzEtNTJjZGIzZDE2ZmVlIiwicFYiOjMsIm0iOiJlNmM0YzMxZS00OTdhLTQ1MmMtODFiYy1hN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/pages/staff_picks?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&deviceType=DESKTOP
  response:
    body:
      string: "{\"selfLink\":null,\"id\":\"eyJwIjoiYjdiNzlmNTQtZjM3Ny00NWQzLTg4YmUtZTc5MGFhZjUyNjAxIiwicFYiOjI1fQ==\",\"title\":\"Staff
        Picks\",\"rows\":[{\"modules\":[{\"id\":\"eyJwIjoiYjdiNzlmNTQtZjM3Ny00NWQzLTg4YmUtZTc5MGFhZjUyNjAxIiwicFYiOjI1LCJtIjoiZTIyODg5YTItOWNiYi00ZWVlLThhNWEtMmM1NzQzYTE2YmJhIiwibVYiOjEsIm1IIjoiYTU5MDRmOWQifQ==\",\"type\":\"PLAYLIST_LIST\",\"width\":100,\"title\":\"Playlists\",\"description\":\"\",\"preTitle\":null,\"showMore\":{\"title\":\"View
        all\",\"apiPath\":\"pages/single-module-page/b7b79f54-f377-45d3-88be-e790aaf52601/25/e22889a2-9cbb-4eee-8a5a-2c5743a16bba/1\"},\"supportsPaging\":false,\"quickPlay\":false,\"scroll\":\"HORIZONTAL\",\"pagedList\":{\"limit\":15,\"offset\":0,\"totalNumberOfItems\":180,\"items\":[{\"uuid\":\"debc7d7e-8227-4324-98c4-2118d0651e9a\",\"title\":\"Office
        Rotation: Best New Music\",\"type\":\"EDITORIAL\",\"url\":\"https://tidal.com/browse/playlist/debc7d7e-8227-4324-98c4-2118d0651e9a\",\"image\":\"8c268489-ef2b-49bb-8163-c862d5094a9f\",\"squareImage\":\"8e3f2b80-a5bf-422c-aa3e-b51e6f5b6c8b\",\"duration\":22760,\"numberOfTracks\":102,\"numberOfVideos\":0,\"lastItemAddedAt\":\"2023-07-21T22:00:40.544Z\",\"promotedArtists\":[{\"id\":7851094,\"name\":\"Big
        Thief\",\"type\":\"MAIN\",\"picture\":\"cf52de3b-834d-4805-802d-4f7daf7cffc2\"},{\"id\":8291683,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/pages/podcasts?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&deviceType=DESKTOP
  response:
    body:
      string: "{\"selfLink\":null,\"id\":\"eyJwIjoiZTRlYTg4YzgtYzEyOC00MWYzLWJhMzYtZmYyNGFmYjE4YTMwIiwicFYiOjIxfQ==\",\"title\":\"Shows
        & Podcasts\",\"rows\":[{\"modules\":[{\"id\":\"eyJwIjoiZTRlYTg4YzgtYzEyOC00MWYzLWJhMzYtZmYyNGFmYjE4YTMwIiwicFYiOjIxLCJtIjoiNjk0NDY1MjItMjUyOC00YTdjLThhNDctNzIwY2UyZmRhYmQ1IiwibVYiOjEsIm1IIjoiM2U2ZmQyZjkifQ==\",\"type\":\"ARTIST_LIST\",\"width\":100,\"title\":\"Podcasts\",\"description\":\"\",\"preTitle\":null,\"showMore\":{\"title\":\"View
        all\",\"apiPath\":\"pages/single-module-page/e4ea88c8-c128-41f3-ba36-ff24afb18a30/21/69446522-2528-4a7c-8a47-720ce2fdabd5/1\"},\"supportsPaging\":false,\"quickPlay\":false,\"scroll\":\"HORIZONTAL\",\"pagedList\":{\"limit\":15,\"offset\":0,\"totalNumberOfItems\":13,\"items\":[{\"id\":22374472,\"name\":\"Talk
        Art\",\"picture\":\"ec932a79-4fc2-4679-b565-5128b5f2d2d7\",\"artistTypes\":null,\"artistRoles\":[{\"category\":\"Artist\",\"categoryId\":-1}],\"mixes\":{}},{\"id\":22374477,\"name\":\"And
        The Writer Is...with Ross Golan\",\"picture\":\"fa3c4a62-e829-493e-a9d0-9d169368cd8e\",\"artistTypes\":null,\"artistRoles\":[{\"category\":\"Artist\",\"categoryId\":-1}],\"mixes\":{}},{\"id\":22486875,\"name\":\"The
        Sound of Change\",\"picture\":\"bb9b1818-71bc-4f7c-98e0-8ff8f2a36f3e\",\"artistTypes\":null,\"artistRoles\":[{\"category\":\"Artist\",\"categoryId\":-1}],\"mixes\":{}},{\"id\":22665382,\"name\":\"Broken
        Record[...]
