interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/artists/3503597?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: '{"id":3503597,"name":"MF DOOM","artistTypes":["ARTIST","CONTRIBUTOR"],"url":"http://www.tidal.com/artist/3503597","picture":"403ea7ff-413f-4103-b131-b05c6b0b679f","popularity":69,"artistRoles":[{"categoryId":-1,"category":"Artist"},{"categoryId":2,"category":"Songwriter"},{"categoryId":1,"category":"Producer"},{"categoryId":11,"category":"Performer"},{"categoryId":3,"category":"Engineer"},{"categoryId":10,"category":"Production
        team"},{"categoryId":99,"category":"Misc"}],"mixes":{"ARTIST_MIX":"00009ff345d81a455ddebf8861a54b"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/pages/artist?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&artistId=3503597&deviceType=BROWSER
  response:
    body:
      string: "{\"selfLink\":null,\"id\":\"eyJwIjoiYWUyMjMzMTAtYTRjMi00NTY4LWE3NzAtZmZlZjcwMzQ0NDQxIiwicFYiOjR9\",\"title\":\"MF
        DOOM\",\"rows\":[{\"modules\":[{\"id\":\"eyJwIjoiYWUyMjMzMTAtYTRjMi00NTY4LWE3NzAtZmZlZjcwMzQ0NDQxIiwicFYiOjQsIm0iOiJiZTE5ZGY4Ni00NDE3LTQ5ZWYtOGVjNC0xZTNjMDk3NTA3ZGEiLCJtViI6MSwibUgiOiI1YzQ3MDZhMyJ9\",\"type\":\"ARTIST_HEADER\",\"width\":100,\"title\":\"\",\"description\":\"\",\"preTitle\":\"\",\"artist\":{\"id\":3503597,\"name\":\"MF
        DOOM\",\"url\":\"http://www.tidal.com/artist/3503597\",\"picture\":\"403ea7ff-413f-4103-b131-b05c6b0b679f\",\"artistTypes\":[\"ARTIST\",\"CONTRIBUTOR\"],\"mixes\":{\"ARTIST_MIX\":\"00009ff345d81a455ddebf8861a54b\"}},\"bio\":{\"text\":\"One
        of hip-hop's most beloved anti-heroes, the ever-inventive [wimpLink artistId=\\\"3503597\\\"]MF
        Doom[/wimpLink] (often referred to as simply DOOM, in all caps) received widespread
        praise for his sharp, candid rhymes as well as his choppy, sample-heavy production
        style. Initially known as Zev Love X, a member of the short-lived but influential
        Golden Age rap group [wimpLink artistId=\\\"3614249\\\"]K.M.D.[/wimpLink],
        the MC/producer born [wimp[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/pages/artist?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&artistId=11405&deviceType=BROWSER
  response:
    body:
      string: "{\"selfLink\":null,\"id\":\"eyJwIjoiYWUyMjMzMTAtYTRjMi00NTY4LWE3NzAtZmZlZjcwMzQ0NDQxIiwicFYiOjR9\",\"title\":\"De
        La Soul\",\"rows\":[{\"modules\":[{\"id\":\"eyJwIjoiYWUyMjMzMTAtYTRjMi00NTY4LWE3NzAtZmZlZjcwMzQ0NDQxIiwicFYiOjQsIm0iOiJiZTE5ZGY4Ni00NDE3LTQ5ZWYtOGVjNC0xZTNjMDk3NTA3ZGEiLCJtViI6MSwibUgiOiJlZmVjMDFlZiJ9\",\"type\":\"ARTIST_HEADER\",\"width\":100,\"title\":\"\",\"description\":\"\",\"preTitle\":\"\",\"artist\":{\"id\":11405,\"name\":\"De
        La Soul\",\"url\":\"http://www.tidal.com/artist/11405\",\"picture\":\"6596ca2d-14ee-48aa-86f6-40384a32097d\",\"artistTypes\":[\"ARTIST\",\"CONTRIBUTOR\"],\"mixes\":{\"MASTER_ARTIST_MIX\":\"0158ee1c35fadc0272dc9d7bbd7cec\",\"ARTIST_MIX\":\"0001dd9cf1ff3084fd533f3b295926\"}},\"bio\":{\"text\":\"When
        Long Island hip-hop trio [wimpLink artistId=\\\"11405\\\"]De La Soul[/wimpLink]
        arrived in 1989 with debut album, [wimpLink albumId=\\\"264031430\\\"]3 Feet
        High and Rising[/wimpLink], they sounded like nothing else. The album's colorful,
        almost collaged production aesthetic and the rappers' rhyme styles that were
        equal parts clever and goofily h[...]
[...]
