interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/pages/home?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&deviceType=BROWSER
  response:
    body:
      string: "{\"selfLink\":null,\"id\":\"eyJwIjoiMmViYjAyZDAtMDE3Zi00M2RlLTg4OWYtYTAzZmVmNzIxNmIzIiwicFYiOjczfQ==\",\"title\":\"Home\",\"rows\":[{\"modules\":[{\"id\":\"eyJwIjoiMmViYjAyZDAtMDE3Zi00M2RlLTg4OWYtYTAzZmVmNzIxNmIzIiwicFYiOjczLCJtIjoiMjdlYjMzYzktNGUxMC00ZGY0LWFlODAtMmM5YWFkNGM4MGNjIiwibVYiOjcsIm1IIjoiMTAzYzEzZDAifQ==\",\"type\":\"HIGHLIGHT_MODULE\",\"width\":100,\"title\":\"For
        you\",\"description\":\"\",\"preTitle\":null,\"showMore\":null,\"supportsPaging\":false,\"quickPlay\":true,\"layout\":null,\"playlistStyle\":null,\"highlights\":[{\"title\":\"Daily
        Updated Mix\",\"item\":{\"type\":\"MIX\",\"item\":{\"id\":\"016e4452ff8a18ef67ccfca450dcdb\",\"title\":\"My
        Daily Discovery\",\"subTitle\":\"Songs by new and familiar artists inspired
        by your listening. Updates every morning.\",\"graphic\":{\"type\":\"SQUARES_GRID\",\"text\":\"My
        Daily Discovery\",\"images\":[{\"id\":\"dummy-placeholder\",\"vibrantColor\":\"#FFFFFF\",\"type\":\"ARTIST\"}]},\"images\":{\"SMALL\":{\"width\":320,\"height\":320,\"url\":\"https://images.tidal.com/0/EMACGMAC/CAEQCCIDMjA0KgcjQTVFM0ZGMAQ?token=ea493da344239a1810bde7a52c9c958d8632affb\"},\"MEDIUM\":{\"width\":640,\"height\":640,\"url\":\"https://images.tidal.com/0/EIAFGIAF/CAEQCCIDMjA0KgcjQTVFM0ZGMAQ?token=3480db26c88f1450827eae89eb7cdd94cde88838\"},\"LARGE\":{\"width\":1500,\"height\":1500,\"url\":\"https://images.tidal.com/0/ENwLGNwL/CAEQCCIDMjA0KgcjQTVFM0ZGMAQ?token=1596587a43494db348ea97dbb2a9c8948ab5b96f\"}},\"sharingImages\":null,\"mixType\":\"DISCOVERY_MIX\",\"contentBehavior\":\"UNRESTRICTED\",\"shortSubtitle\":\"Created
        by TIDAL\"}}},{\"title\":\"What's Hot\",\"item\":{\"type\":\"PLAYLIST\",\"item\":{\"uuid\":\"0bfac8e5-4ff8-44e4-b112-5fb71d39bcc1\",\"title\":\"Out
        There\",\"type\":\"EDITORIAL\",\"url\":\"https://tidal.com/browse/playlist/0bfac8e5-4ff8-44e4-b112-5fb71d39bcc1\",\"image\":\"6068d126-dc92-4fb7-94b6-3c6b68f0cb53\",\"squareImage\":\"5ccec47a-ef73-432c-b28d-3559c0f719da\",\"duration\":29261,\"numberOfTracks\":100,\"numberOfVideos\":0,\"lastItemAddedAt\":\"2023-07-21T16:57:06.77Z\",\"promotedArtists\":[{\"id\":1684,\"name\":\"Nina
        Simone\",\"type\":\"MAIN\",\"picture\":\"96d83285-e066-461c-b487-7329195b73d9\"},{\"id\":3715604,\"name\":\"David
        Murray\",\"type\":\"MAIN\",\"picture\":\"52bfd804-1215-4753-b625-abdeb3ff8216\"},{\"id\":7072073,\"name\":\"Questlove\",\"type\":\"MAIN\",\"picture\":\"2896ac5d-8cd7-475f-a75b-ddb9516289a6\"},{\"id\":7122441,\"name\":\"Ray
        Angry\",\"type\":\"MAIN\",\"picture\":\"d17ad8e1-e849-4602-beef-0180611dc393\"}],\"creators\":[{\"id\":0,\"name\":\"TIDAL\"}],\"description\":\"Groundbreaking
        art is often defined by its inability to be categorized. We highlight sonic
        shards mined from the vast terrain of new jazz and jazz-adjacent music, from
        the experimental to the straight-up grooving. (Cover: Nina Simone / Photo:
        \xA9 Tony Gale-Pictorial Press-Cache Agency/Universal/Verve/Press)              \"}}},{\"title\":\"New
        For You\",\"item\":{\"type\":\"MIX\",\"item\":{\"id\":\"011854ab[...]
