interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/albums/108043414?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: "{\"id\":108043414,\"title\":\"Lemonade\",\"duration\":7165,\"streamReady\":true,\"adSupportedStreamReady\":true,\"streamStartDate\":\"2019-04-23T05:00:00.000+0000\",\"allowStreaming\":true,\"premiumStreamingOnly\":false,\"numberOfTracks\":13,\"numberOfVideos\":2,\"numberOfVolumes\":1,\"releaseDate\":\"2016-04-23\",\"copyright\":\"(P)
        2019 Parkwood Entertainment LLC, under exclusive license to Columbia Records,
        a Division of Sony Music Entertainment\",\"type\":\"ALBUM\",\"version\":null,\"url\":\"http://www.tidal.com/album/108043414\",\"cover\":\"e85770cd-4d4a-4651-815b-a1ce6cc6aaa8\",\"vibrantColor\":\"#FFFFFF\",\"videoCover\":\"07942bd5-bddc-4301-95bf-dc4cd2c593fa\",\"explicit\":true,\"upc\":\"886447695456\",\"popularity\":39,\"audioQuality\":\"HI_RES\",\"audioModes\":[\"STEREO\"],\"mediaMetadata\":{\"tags\":[\"LOSSLESS\",\"MQA\"]},\"artist\":{\"id\":1566,\"name\":\"Beyonc\xE9\",\"type\":\"MAIN\",\"picture\":\"14416e8d-abae-4e90-9349-8efeb5c8d447\"},\"artists\":[{\"id\":1566,\"name\":\"Beyonc\xE9\",\"type\":\"MAIN\",\"picture\":\"14416e8d-abae-4e90-9349-8efeb5c8d447\"}]}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      ETag:
      - '"1667633875"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/pages/album?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&albumId=108043414&deviceType=BROWSER
  response:
    body:
      string: "{\"selfLink\":null,\"id\":\"eyJwIjoiZTZlM2ZmMWItZDZjNC00NzczLTg4ZDAtMGNmOTdjY2ZjYjU5IiwicFYiOjEzfQ==\",\"title\":\"Lemonade\",\"rows\":[{\"modules\":[{\"id\":\"eyJwIjoiZTZlM2ZmMWItZDZjNC00NzczLTg4ZDAtMGNmOTdjY2ZjYjU5IiwicFYiOjEzLCJtIjoiOTg3YjJiZGUtMGE5MS00YzYxLWFkNGItNzllYzdkNGY5NmU0IiwibVYiOjEsIm1IIjoiM2VmNjhkNTUifQ==\",\"type\":\"ALBUM_HEADER\",\"width\":100,\"title\":\"\",\"description\":\"\",\"preTitle\":\"\",\"album\":{\"id\":108043414,\"title\":\"Lemonade\",\"duration\":7165,\"streamReady\":true,\"streamStartDate\":\"2019-04-23T05:00:00.000+00:00\",\"allowStreaming\":true,\"numberOfTracks\":13,\"numberOfVideos\":2,\"numberOfVolumes\":1,\"releaseDate\":\"2016-04-23\",\"copyright\":\"(P)
        2019 Parkwood Entertainment LLC, under exclusive license to Columbia Records,
        a Division of Sony Music Entertainment\",\"type\":\"ALBUM\",\"version\":null,\"url\":\"http://www.tidal.com/album/108043414\",\"cover\":\"e85770cd-4d4a-4651-815b-a1ce6cc6aaa8\",\"videoCover\":\"07942bd5-bddc-4301-95bf-dc4cd2c593fa\",\"explicit\":true,\"popularity\":39,\"audioQuality\":\"HI_RES\",\"audioModes\":[\"STEREO\"],\"artists\":[{\"id\":1566,\"name\":\"Beyonc\xE9\",\"type\":\"MAIN\",\"picture\":\"14416e8d-abae-4e90-9349-8efeb5c8d447\"}],\"mediaMetadata\":{\"tags\":[\"LOSSLESS\",\"MQA\"]}},\"review\":{\"text\":\"[wimpLink
        artistId=\\\"1566\\\"]Beyonc\xE9[/wimpLink]'s sixth album loomed once \\\"Formation\\\"
        and its video were issued ahead of the superstar's Super Bowl 50 half-time
        performance. Two months and a couple weeks later, it appeared as a culturally
        seismic visual album. Loaded with layers of meaning and references, and experienced
        en masse through its televised premiere, [wimpLink albumId=\\\"59727856\\\"]Lemonade[/wimpLink]
        honored black siste[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/pages/album?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&albumId=58047349&deviceType=BROWSER
  response:
    body:
      string: '{"selfLink":null,"id":"eyJwIjoiZTZlM2ZmMWItZDZjNC00NzczLTg4ZDAtMGNmOTdjY2ZjYjU5IiwicFYiOjEzfQ==","title":"Gangsta
        Bitch Music Vol 1","rows":[{"modules":[{"id":"eyJwIjoiZTZlM2ZmMWItZDZjNC00NzczLTg4ZDAtMGNmOTdjY2ZjYjU5IiwicFYiOjEzLCJtIjoiOTg3YjJiZGUtMGE5MS00YzYxLWFkNGItNzllYzdkNGY5NmU0IiwibVYiOjEsIm1IIjoiOWJiODFkZjEifQ==","type":"ALBUM_HEADER","width":100,"title":"","description":"","preTitle":"","album":{"id":58047349,"title":"Gangsta
        Bitch Music Vol 1","duration":1990,"streamReady":true,"streamStartDate":"2016-03-07T00:00:00.000+00:00","allowStreaming":true,"numberOfTracks":13,"numberOfVideos":0,"numberOfVolumes":1,"releaseDate":"2016-03-07","copyright":"2016
        KSR Group","type":"ALBUM","version":null,"url":"http://www.tidal.com/album/58047349","cover":"8e5ff91f-5bbc-4a7e-8107-86a27fc8bc7f","videoCover":null,"explicit":true,"popularity":36,"audioQuality":"LOSSLESS","audioModes":["STEREO"],"artists":[{"id":7301626,"name":"Cardi
        B","type":"MAIN","picture":"2e0be02f-a74e-431b-880a-fb329ae4e366"}],"mediaMetadata":{"tags":["LOSSLESS"]}},"review":{"text":null,"source":null},"credits":{"items":[]},"playbackControls":[{"shuffle":false,"playbackMode":"PLAY","title":"Play","icon":"play_tracks","targetModuleId":"eyJwIjoiZTZlM2ZmMWItZDZjNC00NzczLTg4ZDAtMGNmOTdjY2ZjYjU5IiwicFYiOjEzLCJtIjoiNjJmY2NhZTUtNDIwZC00MGJlLWJjZGMtZTUzODIwYzAwZjA5IiwibVYiOjEsIm1IIjoiZjNmZDU5YTgifQ=="},{"shuffle":true,"playbackMode":"SHUFFLE","title":"Shuffle","icon":"shuffle_tracks","targetModuleId":"eyJwIjoiZTZlM2ZmMWItZDZjNC00NzczLTg4ZDAtMGNmOTdjY2ZjYjU5IiwicFYiOjEzLCJtIjoiNjJmY2NhZTUtNDIwZC00MGJlLWJjZGMtZTUzODIwYzAwZjA5IiwibVYiOjEsIm1IIjoiZjNmZDU5YTgifQ=="}]}]},{"modules":[{"id":"eyJwIjoiZTZlM2ZmMWItZDZjNC00NzczLTg4ZDAtMGNmOTdjY2ZjYjU5IiwicFYiOjEzLCJtIjoiNjJmY2NhZTUtNDIwZC00MGJlLWJjZGMtZTUzODIwYzAwZjA5IiwibVYiOjEsIm1IIjoiZjNmZDU5YTgifQ==","type":"ALBUM_ITEMS","width":100,"title":"","description":"","preTitle":null,"showMore":null,"supportsPaging":false,"quickPlay":false,"copyright":"2016
        KSR Group","releaseDate":"2016-03-07","listFormat":"NUMBERS","pagedList":{"limit":9999,"offset":0,"totalNumberOfItems":13,"items":[{"item":{"id":58047350,"title":"Intro
        (Skit)","duration":56,"version":null,"url":"https://tidal.com/browse/track/58047350","artists":[{"id":7301626,"name":"Cardi
        B","type":"MAIN","picture":"2e0be02f-a74e-431b-880a-fb329ae4e366"},{"id":4898135,"name":"The
        Breakfast Club","type":"FEATURED","picture":null}],"album":{"id":58047349,"title":"Gangsta
        Bitch Music Vol 1","cover":"8e5ff91f-5bbc-4a7e-8107-86a27fc8bc7f","vibrantColor":"#a2a7d3","videoCover":null,"url":"https://tidal.com/browse/album/58047349","releaseDate":"2016-03-07"},"explicit":true,"volumeNumber":1,"trackNumber":1,"popularity":8,"allowStreaming":true,"streamReady":true,"streamStartDate":"2016-03-07T00:00:00.000+0000","adSupportedStreamReady":true,"editable":false,"replayGain":-9.54,"audioQuality":"LOSSLESS","audioModes":["STEREO"],"mixes":{"TRACK_MIX":"001b91b893f6741a1c99d8a9097742"},"mediaMetadata":{"tags":["LOSSLESS"]}},"type":"track"},{"item":{"id":58047351,"title":"Trust
        Issues","duration":144,"version":null,"url":"https://tidal.com/browse/track/58047351","artists":[{"id":7301626,"name":"Cardi
        B","type":"MAIN","picture":"2e0be02f-a74e-431b-880a-fb329ae4e366"}],"album":{"id":58047349,"title":"Gangsta
        Bitch Music Vol 1","cover":"8e5ff91f-5bbc-4a7e-8107-86a27fc8bc7f","vibrantColor":"#a2a7d3","videoCover":null,"url":"[...]
[...]
