interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/pages/my_collection_my_mixes?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&deviceType=BROWSER
  response:
    body:
      string: "{\"selfLink\":null,\"id\":\"eyJwIjoiY2Y4OGYzZjItNDRjYy00ZDVmLTgxNzMtNGNiMzdiZjIyZmJlIiwicFYiOjE2fQ==\",\"title\":\"My
        Mix\",\"rows\":[{\"modules\":[{\"id\":\"eyJwIjoiY2Y4OGYzZjItNDRjYy00ZDVmLTgxNzMtNGNiMzdiZjIyZmJlIiwicFYiOjE2LCJtIjoiYmU5YTIwNjctMDAxYy00YTBjLWJiYzItNWU0ODdkNWEwYzQxIiwibVYiOjIsIm1IIjoiMzBjODVmYzEifQ==\",\"type\":\"MIX_LIST\",\"width\":100,\"title\":\"\",\"description\":\"\",\"preTitle\":null,\"showMore\":null,\"supportsPaging\":false,\"quickPlay\":true,\"scroll\":\"VERTICAL\",\"listFormat\":null,\"pagedList\":{\"limit\":20,\"offset\":0,\"totalNumberOfItems\":16,\"items\":[{\"id\":\"016e4452ff8a18ef67ccfca450dcdb\",\"title\":\"My
        Daily Discovery\",\"subTitle\":\"Songs by new and familiar artists inspired
        by your listening. Updates every morning.\",\"graphic\":{\"type\":\"SQUARES_GRID\",\"text\":\"My
        Daily Discovery\",\"images\":[{\"id\":\"dummy-placeholder\",\"vibrantColor\":\"#FFFFFF\",\"type\":\"ARTIST\"}]},\"images\":{\"SMALL\":{\"width\":320,\"height\":320,\"url\":\"https://images.tidal.com/0/EMACGMAC/CAEQCCIDMjA0KgcjQTVFM0ZGMAQ?token=ea493da344239a1810bde7a52c9c958d8632affb\"},\"MEDIUM\":{\"width\":640,\"height\":640,\"url\":\"https://images.tidal.com/0/EIAFGIAF/CAEQCCIDMjA0KgcjQTVFM0ZGMAQ?token=3480db26c88f1450827eae89eb7cdd94cde88838\"},\"LARGE\":{\"width\":1500,\"height\":1500,\"url\":\"https://images.tidal.com/0/ENwLGNwL/CAEQCCIDMjA0KgcjQTVFM0ZGMAQ?token=1596587a43494db348ea97dbb2a9c8948ab5b96f\"}},\"sharingImages\":null,\"mixType\":\"DISCOVERY_MIX\",\"contentBehavior\":\"UNRESTRICTED\",\"shortSubtitle\":\"Created
        by TIDAL\"},{\"id\":\"00295b6cb4b127e3d5dc589b1b15ab\",\"title\":\"My Mix
        1\",\"subTitle\":\"Fran\xE7oise Hardy, Marie Lafor\xEAt, Gilbert Becaud and
        more\",\"graphic\":{\"type\":\"SQUARES_GRID\",\"text\":\"My Mix 1\",\"images\":[{\"id\":\"dummy-placeholder\",\"vibrantColor\":\"#FFFFFF\",\"type\":\"ARTIST\"}]},\"images\":{\"SMALL\":{\"width\":320,\"height\":320,\"url\":\"https://images.tidal.com/0/EMACGMACIKABKKAB/CAEaJGI1ZDU5N2JlLzE4YzQvNGI2NS9hZWNlLzdlMzcxYTA4[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/pages/mix?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&mixId=016e4452ff8a18ef67ccfca450dcdb&deviceType=BROWSER
  response:
    body:
      string: "{\"selfLink\":null,\"id\":\"eyJwIjoiOGMxZjRkNjAtZDhmNS00YmU2LTg1YjMtYTA0NDExNDVkYmMwIiwicFYiOjE0fQ==\",\"title\":\"My
        Daily Discovery\",\"rows\":[{\"modules\":[{\"id\":\"eyJwIjoiOGMxZjRkNjAtZDhmNS00YmU2LTg1YjMtYTA0NDExNDVkYmMwIiwicFYiOjE0LCJtIjoiMTg3ZGVhMTMtNWI1ZS00OWYwLWI5YjktYjc5ODk3M2M2MjVmIiwibVYiOjEsIm1IIjoiMjc4ZDcyYyJ9\",\"type\":\"MIX_HEADER\",\"width\":100,\"title\":\"\",\"description\":\"\",\"preTitle\":\"\",\"mix\":{\"id\":\"016e4452ff8a18ef67ccfca450dcdb\",\"title\":\"My
        Daily Discovery\",\"subTitle\":\"Songs by new and familiar artists inspired
        by your listening. Updates every morning.\",\"graphic\":{\"type\":\"SQUARES_GRID\",\"text\":\"My
        Daily Discovery\",\"images\":[{\"id\":\"dummy-placeholder\",\"vibrantColor\":\"#FFFFFF\",\"type\":\"ARTIST\"}]},\"images\":{\"SMALL\":{\"width\":320,\"height\":320,\"url\":\"https://images.tidal.com/0/EMACGMAC/CAEQCCIDMjA0KgcjQTVFM0ZGMAQ?token=ea493da344239a1810bde7a52c9c958d8632affb\"},\"MEDIUM\":{\"width\":640,\"height\":640,\"url\":\"https://images.tidal.com/0/EIAFGIAF/CAEQCCIDMjA0KgcjQTVFM0ZGMAQ?token=3480db26c88f1450827eae89eb7cdd94cde88838\"},\"LARGE\":{\"width\":1500,\"height\":1500,\"url\":\"https://images.tidal.com/0/ENwLGNwL/CAEQCCIDMjA0KgcjQTVFM0ZGMAQ?token=1596587a43494db348ea97dbb2a9c8948ab5b96f\"}},\"sharingImages\":null,\"mixType\":\"DISCOVERY_MIX\",\"mixNumber\":null,\"contentBehavior\":\"UNRESTRICTED\",\"shortSubtitle\":null,\"master\":false,\"titleColor\":\"#A5E3FF\",\"subTitleColor\":\"#A5E3FF\",\"detailImages\":{\"SMALL\":{\"width\":320,\"height\":320,\"url\":\"https://images.tidal.com/0/EMACGMAC/CAEQCCIDMjA0KgcjQTVFM0ZGMAQ4AQ?token=96bdda5fbca32f6e8411f311a59e72dabd98ef6b\"},\"MEDIUM\":{\"width\":640,\"height\":640,\"url\":\"https://images.tidal.com/0/EIAFGIAF/CAEQCCIDMjA0KgcjQTVFM0ZGMAQ4AQ?token=060033fc56f65e2d2b5ec5198c0ea949540315a8\"},\"LARGE\":{\"width\":1500,\"height\":1500,\"url\":\"https://images.tidal.com/0/ENwLGNwL/CAEQCCIDMjA0KgcjQTVFM0ZGMAQ4AQ?token=e8c46f4863321e9a6d2b99503964a32916a15ffc\"}}},\"playbackControls\":[{\"shuffle\":false,\"playbackMode\":\"PLAY\",\"title\":\"Play\",\"icon\":\"play_tracks\",\"targetModuleId\":\"eyJwIjoiOGMxZjRkNjAtZDhmNS00YmU2LTg1YjMtYTA0NDExNDVkYmMwIiwicFYiOjE0LCJtIjoiNmU5OWY3ZjUtMDk4My00Mzk5LWFkYjEtZDk2NzRmMGQ2ZDQ5IiwibVYiOjEsIm1IIjoiODljMmI1ODcifQ==\"},{\"shuffle\":true,\"playbackMode\":\"SHUFFLE\",\"title\":\"Shuffle\",\"icon\":\"shuffle_tracks\",\"targetModuleId\":\"eyJwIjoiOGMxZjRkNjAtZDhmNS00YmU2LTg1YjMtYTA0NDExNDVkYmMwIiwicFYiOjE0LCJtIjoiNmU5OWY3ZjUtMDk4My00Mzk5LWFkYjEtZDk2NzRmMGQ2ZDQ5IiwibVYiOjEsIm1IIjoiODljMmI1ODcifQ==\"}]}]},{\"modules\":[{\"id\":\"eyJwIjoiOGMxZjRkNjAtZDhmNS00YmU2LTg1YjMtYTA0NDExNDVkYmMwIiwicFYiOjE0LCJtIjoiNmU5OWY3ZjUtMDk4My00Mzk5LWFkYjEtZDk2NzRmMGQ2ZDQ5IiwibVYiOjEsIm1IIjoiODljMmI1ODcifQ==\",\"type\":\"TRACK_LIST\",\"width\":100,\"title\":\"\",\"description\":\"\",\"preTitle\":null,\"showMore\":null,\"supportsPaging\":false,\"quickPlay\":false,\"listFormat\":\"COVERS\",\"scroll\":\"VERTICAL\",\"layout\":\"LIST\",\"pagedList\":{\"limit\":10,\"offset\":0,\"totalNumberOfItems\":10,\"items\":[{\"id\":566513,\"title\":\"Toujours
        un coin qui me rappelle\",\"duration\":197,\"version\":null,\"url\":\"https://tidal.com/browse/track/566513\",\"artists\":[{\"id\":17253,\"name\":\"Eddy
        Mitchell\",\"type\":\"MAIN\",\"picture\":\"c4821426-d560-444e-b5f9-88a4d5360022\"}],\"album\":{\"id\":566483,\"title\":\"Tout
        Eddy 1960-1964\",\"cover\":\"47885c05-2626-4cf1-9e50-11a2af410f8d\",\"vibrantColor\":\"#d17270\",\"videoCover\":null,\"url\":\"https://tidal.com/browse/album/566483\",\"releaseDate\":\"2005-10-02\"},\"explicit\":false,\"volumeNumber\":1,\"trackNumber\":30,\"popularity\":1,\"allowStreaming\":true,\"streamReady\":true,\"streamStartDate\":\"2009-07-14T00:00:00.000+0000\",\"adSupportedStreamReady\":true,\"editable\":false,\"replayGain\":-3.51,\"audioQuality\":\"LOSSLESS\",\"audioModes\":[\"STEREO\"],\"mixes\":{\"TRACK_MIX\":\"00118c531180e8c065c585a0d36971\"},\"mediaMetadata\":{\"tags\":[\"LOSSLESS\"]}},{\"id\":35911187,\"title\":\"La
        nuit je mens\",\"duration\":265,\"version\":null,\"url\":\"https://tidal.com/browse/track/35911187\",\"artists\":[{\"id\":29885,\"name\":\"Alain
        Bashung\",\"type\":\"MAIN\",\"picture\":\"d324b605-b888-4407-a3b2-2a3e0c543109\"}],\"album\":{\"id\":35911185,\"title\":\"Fantaisie
        Militaire\",\"cover\":\"25b9446f-a5b5-4d78-9b6e-30cdd1ccb425\",\"vibrantColor\":\"#dfc598\",\"videoCover\":null,\"url\":\"https://tidal.com/browse/alb[...]
