interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/playlists/aa3611ff-5b25-4bbe-8ce4-36c678c3438f?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: '{"uuid":"aa3611ff-5b25-4bbe-8ce4-36c678c3438f","title":"TIDAL X Sundance","numberOfTracks":0,"numberOfVideos":12,"creator":{"id":0},"description":"In
        partnership with Vulture, TIDAL talks to actors and musicians at the 2017
        Sundance Film Festival about the meeting of music and film. #tidalxvulture
        (Photo: TIDAL) ","duration":1996,"lastUpdated":"2020-03-25T08:05:33.115+0000","created":"2017-01-23T18:34:56.930+0000","type":"EDITORIAL","publicPlaylist":true,"url":"http://www.tidal.com/playlist/aa3611ff-5b25-4bbe-8ce4-36c678c3438f","image":"ef013616-3766-496d-8354-ebc99d3459b0","popularity":0,"squareImage":"dbecd719-8408-4142-b5f5-761d9179caef","promotedArtists":[{"id":8448243,"name":"Sundance
        Film Festival","type":"MAIN","picture":null}],"lastItemAddedAt":null}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      ETag:
      - '"1585123533115"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/playlists/aa3611ff-5b25-4bbe-8ce4-36c678c3438f/items?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=100&offset=0
  response:
    body:
      string: '{"limit":100,"offset":0,"totalNumberOfItems":12,"items":[{"item":{"id":69600390,"title":"Day
        1: Part 1","volumeNumber":1,"trackNumber":1,"releaseDate":"2017-01-21T00:00:00.000+0000","imagePath":null,"imageId":"8b856775-0882-4715-b7d7-c718f14b48a2","vibrantColor":"#FFFFFF","duration":127,"quality":"MP4_1080P","streamReady":true,"adSupportedStreamReady":true,"streamStartDate":"2017-01-21T00:00:00.000+0000","allowStreaming":true,"explicit":false,"popularity":12,"type":"Event","adsUrl":null,"adsPrePaywallOnly":true,"artist":{"id":8448243,"name":"Sundance
        Film Festival","type":"MAIN","picture":"0131465a-9424-4d8e-93d4-accbd52486be"},"artists":[{"id":8448243,"name":"Sundance
        Film Festival","type":"MAIN","picture":"0131465a-9424-4d8e-93d4-accbd52486be"}],"album":null,"dateAdded":"2017-01-23T18:34:57.289+0000","index":0,"itemUuid":"6e1c8cf4-577d-4b18-a121-3e544c12aefb"},"type":"video","cut":null},{"item":{"id":69600504,"title":"Day
        1: Part 2","volumeNumber":1,"trackNumber":1,"releaseDate":"2017-01-21T00:00:00.000+0000","imagePath":null,"imageId":"8d5a4fd5-f536-4c36-8c68-ffbf8cdd09b6","vibrantColor":"#c1c883","duration":153,"quality":"MP4_1080P","streamReady":true,"adSupportedStreamReady":true,"streamStartDate":"2017-01-21T00:00:00.000+0000","allowStreaming":true,"explicit":false,"popularity":6,"type":"Event","adsUrl":null,"adsPrePaywallOnly":true,"artist":{"id":8448243,"nam[...]
