interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/search?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=300&query=Walker&offset=0&types=artists%2Calbums%2Ctracks%2Cvideos%2Cplaylists%2Cmixs
  response:
    body:
      string: "{\"artists\":{\"limit\":300,\"offset\":0,\"totalNumberOfItems\":300,\"items\":[{\"id\":3826876,\"name\":\"Walker\",\"artistTypes\":[\"ARTIST\",\"CONTRIBUTOR\"],\"url\":\"http://www.tidal.com/artist/3826876\",\"picture\":null,\"popularity\":16,\"artistRoles\":[{\"categoryId\":-1,\"category\":\"Artist\"},{\"categoryId\":2,\"category\":\"Songwriter\"},{\"categoryId\":1,\"category\":\"Producer\"},{\"categoryId\":3,\"category\":\"Engineer\"},{\"categoryId\":10,\"category\":\"Production
        team\"},{\"categoryId\":11,\"category\":\"Performer\"}],\"mixes\":{\"ARTIST_MIX\":\"00066bb5ddd0ecc56b82ace36ca1ea\"}},{\"id\":9329127,\"name\":\"Summer
        Walker\",\"artistTypes\":[\"ARTIST\",\"CONTRIBUTOR\"],\"url\":\"http://www.tidal.com/artist/9329127\",\"picture\":\"977b8720-4677-45ec-9bff-0ce9c3399826\",\"popularity\":86,\"artistRoles\":[{\"categoryId\":-1,\"category\":\"Artist\"},{\"categoryId\":2,\"category\":\"Songwriter\"},{\"categoryId\":11,\"category\":\"Performer\"},{\"categoryId\":10,\"category\":\"Production
        team\"},{\"categoryId\":1,\"category\":\"Producer\"},{\"categoryId\":3,\"category\":\"Engineer\"}],\"mixes\":{\"MASTER_ARTIST_MIX\":\"01508ef51448081cb9588c79c60e30\",\"ARTIST_MIX\":\"0004612ff5db4c699fdfed620b397f\"}},{\"id\":3718752,\"name\":\"Walker
        Hayes\",\"artistTypes\":[\"ARTIST\",\"CONTRIBUTOR\"],\"url\":\"http://www.tidal.com/artist/3718752\",\"picture\":\"006dccaa-f1d0-4c17-a404-1253088a25a2\",\"popularity\":42,\"artistRoles\":[{\"categoryId\":-1,\"category\":\"Artist\"},{\"categoryId\":2,\"category\":\"Songwriter\"},{\"categoryId\":11,\"category\":\"Performer\"},{\"categoryId\":1,\"category\":\"Producer\"}[...]
