interactions:
- request:
    body: client_id=zU4XHVVkc2tDPo4ts&scope=r_usr+w_usr+w_sub
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://auth.tidal.com/v1/oauth2/device_authorization
  response:
    body:
      string: '{"status":401,"error":"invalid_client","sub_status":1005,"error_description":"Client
        with token zU4XHVVkc2tDPo4ts not found","errorCodeWrapper":{"errorCode":"INVALID_CLIENT"}}'
    headers:
      Content-Type:
      - application/json
      WWW-Authenticate:
      - Basic realm="tidal_1"
    status:
      code: 401
      message: ''
version: 1
