interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/search?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=50&query=ERIWGJRGIJGRWEIOGRJOGREIWJIOWREG&offset=0&types=artists%2Calbums%2Ctracks%2Cvideos%2Cplaylists%2Cmixs
  response:
    body:
      string: '{"artists":{"limit":50,"offset":0,"totalNumberOfItems":0,"items":[]},"albums":{"limit":50,"offset":0,"totalNumberOfItems":0,"items":[]},"playlists":{"limit":50,"offset":0,"totalNumberOfItems":0,"items":[]},"tracks":{"limit":50,"offset":0,"totalNumberOfItems":0,"items":[]},"videos":{"limit":50,"offset":0,"totalNumberOfItems":0,"items":[]},"topHit":null}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Tidal-SearchQueryId:
      - 724b27b1-c4f5-4a4c-8f71-f7e6bdd27daa
    status:
      code: 200
      message: OK
version: 1
