interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/search?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=50&query=Hello&offset=0&types=playlists%2Cvideos
  response:
    body:
      string: "{\"artists\":{\"limit\":50,\"offset\":0,\"totalNumberOfItems\":0,\"items\":[]},\"albums\":{\"limit\":50,\"offset\":0,\"totalNumberOfItems\":0,\"items\":[]},\"playlists\":{\"limit\":50,\"offset\":0,\"totalNumberOfItems\":300,\"items\":[{\"uuid\":\"4261748a-4287-4758-aaab-6d5be3e99e52\",\"title\":\"Big
        Dance Energy\",\"numberOfTracks\":50,\"numberOfVideos\":0,\"creator\":{},\"description\":\"Big
        Dance Energy is your peak hour party-starter with certified bangers direct
        from festival main stages and megaclub dancefloors. From big room, EDM and
        disco house to amapiano, tropical and tech, the hooks don't stop. New tracks
        added every Friday. (Cover: Steve Angello & Wh0 / Photo: Astralwerks)\",\"duration\":9241,\"lastUpdated\":\"2023-07-21T04:01:15.000+0000\",\"created\":\"2018-08-16T20:04:34.000+0000\",\"type\":\"EDITORIAL\",\"publicPlaylist\":true,\"url\":\"http://www.tidal.com/playlist/4261748a-4287-4758-aaab-6d5be3e99e52\",\"image\":\"55ca2fcd-3b4c-4330-946c-e086f0041d90\",\"popularity\":88,\"squareImage\":\"59cea38c-ae17-4eec-9355-4a8a186b1ae2\",\"promotedArtists\":[{\"id\":3641363,\"name\":\"Steve
        Angello\",\"type\":\"MAIN\",\"picture\":\"e5c00b57-5582-4cee-a968-f2c3ccc275e7\"},{\"id\":6297452,\"name\":\"Wh0\",\"type\":\"MAIN\",\"picture\":\"5b425a20-8023-43cf-baa7-f83f5e395ab0\"},{\"id\":40684794,\"name\":\"Dimitri
        Vegas & Like Mike & David Guetta & Afro bros & Akon Feat. Afro Bros\",\"type\":\"MAIN\",\"picture\":null},{\"id\":4306587,\"name\":\"Sam
        Smith\",\"type\":\"MAIN\",\"picture\":\"6b423f9c-7c72-487f-9b9f-876ede608f54\"}],\"lastItemAddedAt\":\"2023-07-21T04:01:15.000+0000\"},{\"uuid\":\"9412ba5b-4db0-4824-9f35-4f5f930f2738\",\"title\":\"Hip-Hop
        Classics\",\"numberOfTracks\":612,\"numberOfVideos\":0,\"creator\":{},\"description\":\"Just
        what you need when you're looking for all the classic Hip-Hop songs. (Cover:
        \\nJay-Z // Photo: Getty)\",\"duration\":157786,\"lastUpdated\":\"2023-07-14T12:39:41.000+0000\",\"created\":\"2015-04-07T23:45:23.000+0000\",\"type\":\"EDITORIAL\",\"publicPlaylist\":true,\"url\":\"ht[...]
