interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/albums/289261563?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: '{"id":289261563,"title":"GLBTM (Studio Outtakes)","duration":815,"streamReady":true,"adSupportedStreamReady":true,"streamStartDate":"2023-04-20T00:00:00.000+0000","allowStreaming":true,"premiumStreamingOnly":false,"numberOfTracks":3,"numberOfVideos":0,"numberOfVolumes":1,"releaseDate":"2023-04-20","copyright":"(P)
        2023 Daft Life Limited under exclusive license to Columbia Records, a Division
        of Sony Music Entertainment","type":"EP","version":null,"url":"http://www.tidal.com/album/289261563","cover":"5dfc07f9-036f-4d79-aae2-0d058afdeca0","vibrantColor":"#b9c2e3","videoCover":null,"explicit":false,"upc":"196871049191","popularity":6,"audioQuality":"HI_RES","audioModes":["STEREO"],"mediaMetadata":{"tags":["LOSSLESS","HIRES_LOSSLESS","MQA"]},"artist":{"id":8847,"name":"Daft
        Punk","type":"MAIN","picture":"c92cf3f5-066f-4f0a-87d0-c2bebff46d36"},"artists":[{"id":8847,"name":"Daft
        Punk","type":"MAIN","picture":"c92cf3f5-066f-4f0a-87d0-c2bebff46d36"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      ETag:
      - '"-242176327"'
    status:
      code: 200
      message: OK
version: 1
