interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/albums/199142349?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: "{\"id\":199142349,\"title\":\"Donda\",\"duration\":6539,\"streamReady\":true,\"adSupportedStreamReady\":true,\"streamStartDate\":\"2021-09-28T05:00:00.000+0000\",\"allowStreaming\":true,\"premiumStreamingOnly\":false,\"numberOfTracks\":27,\"numberOfVideos\":0,\"numberOfVolumes\":1,\"releaseDate\":\"2021-08-29\",\"copyright\":\"\xA9
        2021 Getting Out Our Dreams II, LLC Distributed By Def Jam Recordings,  A
        Division of UMG Recordings, Inc.\",\"type\":\"ALBUM\",\"version\":null,\"url\":\"http://www.tidal.com/album/199142349\",\"cover\":\"180762b3-d9c3-4343-9cbb-ea2ac1c46573\",\"vibrantColor\":\"#FFFFFF\",\"videoCover\":null,\"explicit\":false,\"upc\":\"00602438975501\",\"popularity\":75,\"audioQuality\":\"HI_RES\",\"audioModes\":[\"STEREO\"],\"mediaMetadata\":{\"tags\":[\"LOSSLESS\",\"MQA\"]},\"artist\":{\"id\":25022,\"name\":\"Kanye
        West\",\"type\":\"MAIN\",\"picture\":\"26076dbd-7361-40d3-9335-f944d2c49ea6\"},\"artists\":[{\"id\":25022,\"name\":\"Kanye
        West\",\"type\":\"MAIN\",\"picture\":\"26076dbd-7361-40d3-9335-f944d2c49ea6\"}]}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      ETag:
      - '"1827492572"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/albums/199142349/review?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: '{"source":"TiVo","lastUpdated":"2023-03-29T04:21:51.343+0000","text":"The
        first noticeable thing about [wimpLink artistId=\"25022\"]Kanye West[/wimpLink]''s
        tenth studio album, [wimpLink albumId=\"199142349\"]Donda[/wimpLink], is its
        mass. With 27 tracks, a running time of an hour and 48 minutes, and a dense
        list of contributors including [wimpLink artistId=\"7804\"]Jay-Z[/wimpLink],
        [wimpLink artistId=\"3603175\"]Kid Cudi[/wimpLink], [wimpLink artistId=\"8573195\"]Roddy
        Ricch[/wimpLink], Jay Electronica, [wimpLink [...]
