interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/albums/17927863?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: '{"id":17927863,"title":"Some Things (Deluxe)","duration":6712,"streamReady":true,"adSupportedStreamReady":true,"streamStartDate":"2012-10-01T00:00:00.000+0000","allowStreaming":true,"premiumStreamingOnly":false,"numberOfTracks":22,"numberOfVideos":0,"numberOfVolumes":2,"releaseDate":"2011-09-22","copyright":"Sinuz
        Recordings (a division of HITT bv)","type":"ALBUM","version":"Deluxe","url":"http://www.tidal.com/album/17927863","cover":"30d83a8c-1db6-439d-84b4-dbfb6f03c44c","vibrantColor":"#FFFFFF","videoCover":null,"explicit":false,"upc":"3610151683488","popularity":32,"audioQuality":"LOSSLESS","audioModes":["STEREO"],"mediaMetadata":{"tags":["LOSSLESS"]},"artist":{"id":16147,"name":"Lasgo","type":"MAIN","picture":"42b39a18-be34-4729-8dbc-acabc0e2f377"},"artists":[{"id":16147,"name":"Lasgo","type":"MAIN","picture":"42b39a18-be34-4729-8dbc-acabc0e2f377"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      ETag:
      - '"-460922226"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/albums/17927863/tracks?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000&offset=0
  response:
    body:
      string: '{"limit":1000,"offset":0,"totalNumberOfItems":22,"items":[{"id":17927864,"title":"Intro","duration":110,"replayGain":-10.32,"peak":0.702148,"allowStreaming":true,"streamReady":true,"adSupportedStreamReady":true,"streamStartDate":"2012-10-01T00:00:00.000+0000","premiumStreamingOnly":false,"trackNumber":1,"volumeNumber":1,"version":null,"popularity":1,"copyright":"Sinuz
        Recordings (a division of HITT bv)","url":"http://www.tidal.com/track/17927864","isrc":"BEZ460100121","editable":false,"explicit":false,"audioQuality":"LOSSLESS","audioModes":["STEREO"],"mediaMetadata":{"tags":["LOSSLESS"]},"artist":{"id":16147,"name":"Lasgo","type":"MAIN","picture":"42b39a18-be34-4729-8dbc-acabc0e2f377"},"artists":[{"id":16147,"name":"Lasgo","type":"MAIN","picture":"42b39a18-be34-4729-8dbc-acabc0e2f377"}],"album":{"id":17927863,"title":"Some
        Things (Deluxe)","cover":"30d83a8c-1db6-439d-84b4-dbfb6f03c44c","vibrantColor":"#FFFFFF","videoCover":null},"mixes":{"TRACK_MIX":"001ef6feb6a48c524fabf954a24dbb"}},{"id":17927865,"title":"Something","duration":221,"replayGain":-10.32,"peak":0.999969,"allowStreaming":true,"streamReady":true,"adSupportedStreamReady":true,"streamStartDate":"2012-10-01T00:00:00.000+0000","premiumStreamingOnly":false,"trackNumber":2,"volumeNumber":1,"version":null,"popularity":27,"copyright":"Sinuz
        Recordings (a division of HITT bv)","url":"http://www.tidal.com/track/17927865","isrc":"BEZ460100055","editable":false,"explicit":false,"au[...]
