interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/albums/108043414?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: "{\"id\":108043414,\"title\":\"Lemonade\",\"duration\":7165,\"streamReady\":true,\"adSupportedStreamReady\":true,\"streamStartDate\":\"2019-04-23T05:00:00.000+0000\",\"allowStreaming\":true,\"premiumStreamingOnly\":false,\"numberOfTracks\":13,\"numberOfVideos\":2,\"numberOfVolumes\":1,\"releaseDate\":\"2016-04-23\",\"copyright\":\"(P)
        2019 Parkwood Entertainment LLC, under exclusive license to Columbia Records,
        a Division of Sony Music Entertainment\",\"type\":\"ALBUM\",\"version\":null,\"url\":\"http://www.tidal.com/album/108043414\",\"cover\":\"e85770cd-4d4a-4651-815b-a1ce6cc6aaa8\",\"vibrantColor\":\"#FFFFFF\",\"videoCover\":\"07942bd5-bddc-4301-95bf-dc4cd2c593fa\",\"explicit\":true,\"upc\":\"886447695456\",\"popularity\":39,\"audioQuality\":\"HI_RES\",\"audioModes\":[\"STEREO\"],\"mediaMetadata\":{\"tags\":[\"LOSSLESS\",\"MQA\"]},\"artist\":{\"id\":1566,\"name\":\"Beyonc\xE9\",\"type\":\"MAIN\",\"picture\":\"14416e8d-abae-4e90-9349-8efeb5c8d447\"},\"artists\":[{\"id\":1566,\"name\":\"Beyonc\xE9\",\"type\":\"MAIN\",\"picture\":\"14416e8d-abae-4e90-9349-8efeb5c8d447\"}]}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      ETag:
      - '"1667633875"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/albums/108043414/similar?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: "{\"limit\":50,\"offset\":0,\"totalNumberOfItems\":7,\"items\":[{\"id\":64522277,\"title\":\"Hard
        II Love\",\"duration\":3579,\"streamReady\":true,\"adSupportedStreamReady\":true,\"streamStartDate\":\"2016-09-12T00:00:00.000+0000\",\"allowStreaming\":true,\"premiumStreamingOnly\":false,\"numberOfTracks\":15,\"numberOfVideos\":0,\"numberOfVolumes\":1,\"releaseDate\":\"2016-09-16\",\"copyright\":\"(P)
        2016 RCA Records, a division of Sony Music Entertainment\",\"type\":\"ALBUM\",\"version\":null,\"url\":\"http://www.tidal.com/album/64522277\",\[...]
[...]
