interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/albums/108043414?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=1000
  response:
    body:
      string: "{\"id\":108043414,\"title\":\"Lemonade\",\"duration\":7165,\"streamReady\":true,\"adSupportedStreamReady\":true,\"streamStartDate\":\"2019-04-23T05:00:00.000+0000\",\"allowStreaming\":true,\"premiumStreamingOnly\":false,\"numberOfTracks\":13,\"numberOfVideos\":2,\"numberOfVolumes\":1,\"releaseDate\":\"2016-04-23\",\"copyright\":\"(P)
        2019 Parkwood Entertainment LLC, under exclusive license to Columbia Records,
        a Division of Sony Music Entertainment\",\"type\":\"ALBUM\",\"version\":null,\"url\":\"http://www.tidal.com/album/108043414\",\"cover\":\"e85770cd-4d4a-4651-815b-a1ce6cc6aaa8\",\"vibrantColor\":\"#FFFFFF\",\"videoCover\":\"07942bd5-bddc-4301-95bf-dc4cd2c593fa\",\"explicit\":true,\"upc\":\"886447695456\",\"popularity\":39,\"audioQuality\":\"HI_RES\",\"audioModes\":[\"STEREO\"],\"mediaMetadata\":{\"tags\":[\"LOSSLESS\",\"MQA\"]},\"artist\":{\"id\":1566,\"name\":\"Beyonc\xE9\",\"type\":\"MAIN\",\"picture\":\"14416e8d-abae-4e90-9349-8efeb5c8d447\"},\"artists\":[{\"id\":1566,\"name\":\"Beyonc\xE9\",\"type\":\"MAIN\",\"picture\":\"14416e8d-abae-4e90-9349-8efeb5c8d447\"}]}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      ETag:
      - '"1667633875"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidal.com/v1/albums/108043414/items?sessionId=9f5d031b-da64-4265-826d-7240002b84b0&countryCode=GB&limit=100&offset=0
  response:
    body:
      string: "{\"limit\":100,\"offset\":0,\"totalNumberOfItems\":15,\"items\":[{\"item\":{\"id\":108043415,\"title\":\"Pray
        You Catch Me\",\"duration\":196,\"replayGain\":-8.69,\"peak\":0.97049,\"allowStreaming\":true,\"streamReady\":true,\"adSupportedStreamReady\":true,\"streamStartDate\":\"2019-04-23T05:00:00.000+0000\",\"premiumStreamingOnly\":false,\"trackNumber\":1,\"volumeNumber\":1,\"version\":null,\"popularity\":13,\"copyright\":\"(P)
        2016 Parkwood Entertainment LLC, under exclusive license to Columbia Records,
        a Division of Sony Music Entertainment\",\"url\":\"http://www.tidal.com/track/108043415\",\"isrc\":\"USSM11603175\",\"editable\":false,\"explicit\":false,\"audioQuality\":\"HI_RES\",\"audioModes\":[\"STEREO\"],\"mediaMetadata\":{\"tags\":[\"LOSSLESS\",\"MQA\"]},\"artist\":{\"id\":1566,\"name\":\"Beyonc\xE9\",\"type\":\"MAIN\",\"picture\":\"14416e8d-abae-4e90-9349-8efeb5c8d447\"},\"artists\":[{\"id\":1566,\"name\":\"Beyonc\xE9\",\"type\":\"MAIN\",\"picture\":\"14416e8d-abae-4e90-9349-8efeb5c8d447\"}],\"album\":{\"id\":108043414,\"title\":\"Lemonade\",\"cover\":\"e85770cd-4d4a-4651-815b-a1ce6cc6aaa8\",\"vibrantColor\":\"#FFFFFF\",\"videoCover\":\"07942bd5-bddc-4301-95bf-dc4cd2c593fa\"},\"mixes\":{\"MASTER_TRACK_MIX\":\"014b5b8d97997efa0cfda17fdc9056\",\"TRACK_MIX\":\"001efeaba2363e73f5fe0276ea8434\"}},\"type\":\"track\"},{\"item\":{\"id\":108043416,\"title\":\"Hold
        Up\",\"duration\":221,\"replayGain\":-8.69,\"peak\":0.99884,\"allowStreaming\":true,\"streamReady\":true,\"adSupportedStreamReady\":true,\"streamStartDate\":\"2019-04-23T05:00:00.000+0000\",\"premiumStreamingOnly\":false,\"trackNumber\":2,\"volumeNumber\":1,\"version\":null,\"popularity\":16,\"copyright\":\"(P)
        2016 Parkwood Entertainment LLC, under exclusive license to Columbia [...]
